



<div class="navbar navbar-fixed-top ">
        	<div class="navCityLogin" >
					 <div style="width: 970px; margin: auto">
								<a href="#/userSettings" ng-class="activeWhen(path()=='/userSettings')" ng-show="user.userName"> Welcome {{user.userName}}</a></span>
								<i class="splitter" ng-show="user.userName"></i>
								<a href="#/userSettings" ng-show="user.userName" ng-class="activeWhen(path()=='/userSettings')">My Account</a></span>
								<i class="splitter " ng-show="user.userName"></i>
								<!-- <i class="flag flag-IN"></i>  India 
								<i class="splitter "></i>      -->
								<a href="#/home" ng-click="fetchhomepagerecords()" ng-class="activeWhen(path()=='/home' )">Home</a>
								<i class="splitter "></i>   
								<a href="" ng-click="loginuser()" ng-show="user.userName==null">Login</a>
								
								<a href="" ng-click="logout()" ng-show="user.userName">Logout</a>
						</div> 		
				</div>  
			
			
				<div class="navbar-inner headerContainer">
			        <div class="container" >
							
							<a href="#/home"><img class="header-logo" src="resources/bootstrap/img/logo.png"/></a>
							
							
							
							<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
			         
							<div class="nav-collapse collapse mainNav">
								
				            
								<ul class="nav" >
									<li ng-class="activeWhen(path()=='/findevent')" > 	<a href="#/findevent" > Find Events </a> </li>
									<i class="navDevider"></i>
									<li ng-class="activeWhen(path()=='/createevent')"> 	<a href="#/createevent" >Create Event</a></li>
									<i class="navDevider"></i>
									<li ng-class="activeWhen(path()=='/myevents')">		<a href="#/myevents" ng-show="user.userName" >My Events</a></li>
									<i class="navDevider" ng-show="user.userName" ></i>
									<li ng-class="activeWhen(path()=='/mytickets')">	<a href="#/mytickets" ng-show="user.userName">My Tickets</a></li>
									<i class="navDevider" ng-show="user.userName"></i>
									<li ng-class="activeWhen(path()=='/pricing')">	<a href="#/pricing" class="lastNav" >Pricing</a></li>
								</ul>
								
								<div style="clear: both"></div>
							</div>
							
							
							
							
			       </div>
		    </div>



</div>
      

    
      
