<div class="navbar navbar-fixed-top ">
          

			
				<div class="navbar-inner headerContainer">
			        <div class="container" >
											
							<div class="navCityLogin">
					
								<a href="#/userSettings" ng-show="user.userName"> Welcome {{user.userName}}</a></span>
								<i class="splitter "></i> 
								<a><i class="flag flag-IN"></i> India </a>   <span></a>
								<i class="splitter "></i>     
								<a href="#/home">Home</a>
								<i class="splitter "></i>   
								<a href="" ng-click="loginuser()" ng-show="user.userName==null">Login</a>
								
								<a href="" ng-click="logout()" ng-show="user.userName">Logout</a>
								<span ng-class="activeWhen(path()=='/userSettings')">
								
							</div>
							
							<img class="header-logo" src="resources/bootstrap/img/logo.png"  />
							<br/>	
							<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
			         
							<div class="nav-collapse collapse mainNav">
								 <div class="input-prepend input-append headerSearch">
				              <div class="btn-group">
				                <button class="btn dropdown-toggle noRadius headerCatBtn " data-toggle="dropdown">{{selectedCat}} <span class="caret"></span></button>
				                <ul class="dropdown-menu">
				                  	<li ng-repeat="cat in categories"> 
										<a ng-click="setCatValue(cat.value,cat.key)">{{cat.key}}</a>
									</li>
				                </ul>
				              </div><!-- /btn-group -->
				              <input class="span3 headerCatBtn" ng-enter="fetchsearchresults(queryText)" id="appendedPrependedDropdownButton" type="text" ng-model="queryText">
				              <div class="btn-group">
				                <button class="btn btn-warning noRadius headerCatBtn" data-toggle="dropdown" ng-click="fetchsearchresults(queryText)"> <span class="icon-search "></span></button>
				              </div>
				            </div>
				            
								<ul class="nav" >
									<li ng-class="activeWhen(path()=='/findevent')" > 	<a href="#/findevent" > Find Event </a> </li>
									<li ng-class="activeWhen(path()=='/createevent')"> 	<a href="#/createevent" >Create Event</a></li>
									<li ng-class="activeWhen(path()=='/myevents')">		<a href="#/myevents" ng-show="user.userName" >My Events</a></li>
									<li ng-class="activeWhen(path()=='/mytickets')">	<a href="#/mytickets" ng-show="user.userName">My Tickets</a></li>
									<li>	<a href="#/mytickets" class="lastNav" >Packages</a></li>
								</ul>
								
								<div style="clear: both"></div>
							</div>
							
							
							
							
			       </div>
		    </div>



</div>
      

    
      
