
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Company Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        todayBtn: false,
        endDate: new Date(),
        format: 'dd-M-yyyy hh:ii P',
        pickerPosition: 'bottom-left',
        autoclose: true
    });
</script>    
  </head>

  <body >


	
	    <!-- Navbar
	    ================================================== -->
	    <div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>
	      </div>
	    </div>




		<div class="container">
		    	
		          <div class="tabBody">
		           <div ng-include src="'html/header.html'"></div>  
		      
			            <h1>User Settings</h1>
			            
			 <!--  Create Event Nav Tab  
			 ================================================== -->           
			            <ul id="myTab" class="nav nav-tabs">
				              <li class="active">	<a href="#personalDetails" data-toggle="tab">	Personal Details	</a></li>
				              <li>					<a href="#companyDetails" data-toggle="tab">	Company Details		</a></li>
				              <li>					<a href="#changePassword" data-toggle="tab">	Change Password		</a></li>
				              <li>					<a href="#socialPlugins" data-toggle="tab">		Social Plugins		</a></li>

			            </ul>
			 <!--  Create Event Nav Tab -->  
			 
			 <!-- Create Event Tab Content Start  
			 ================================================== -->
			            
			            <div id="myTabContent" class="tab-content">
			            	
			              <div class="tab-pane fade in active" id="personalDetails">
			                
								<form class="form-horizontal">
								
							<h4>My Account</h4>
							
							
							  <div class="control-group">
							    <label class="control-label" for="userName">User Name :</label>
							    <div class="controls">
							      {{userDetails.userName}}
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="emailaddress">Email Address :</label>
							    <div class="controls">
							      <input type="text" id="emailaddress" ng-model="userDetails.email">
							    </div>
							  </div>
							   <div class="control-group">
							    <label class="control-label" for="altemailaddress">Alternate Email :</label>
							    <div class="controls">
							      <input type="text" id="altemailaddress" ng-model="userDetails.altEmail">
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="salutation">Salutation :</label>
							    <div class="controls">
							      <input type="text" id="salutation" value="Mr" >
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="fastName" >First Name </label>
							    <div class="controls">
							      <input type="text" id="fastName" ng-model="userDetails.fname">
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="middleName" >Middle Name  </label>
							    <div class="controls">
							      <input type="text" id="middleName" ng-model="userDetails.lname">
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="lastName" >Last Name</label>
							    <div class="controls">
							      <input type="text" id="lastName" ng-model="userDetails.lname">
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="dateOfBirth">Date of Birth</label>
							    <div class="controls">
								 	<div id="datetimepickerDOB" class="input-append date datetimepicker form_datetime">
				      					<input type="text" name="dob" ng-model="userDetails.dob" 
				      										placeholder="Date of birth" readonly ></input>
				      										<span class="add-on"><i class="icon-th"></i></span>
				      				</div>
				      			</div>
							  </div>
							  
							  
						  
		  					  
							    <div class="control-group">
								    <label class="control-label" for="Phone">Phone No  :</label>
								    <div class="controls">
								      <input type="text" id="Phone" ng-model="userDetails.phone">
								    </div>
								  </div>
								  <div class="control-group">
								    <label class="control-label" for="Phone">Mobile :</label>
								    <div class="controls">
								      <input type="text" id="mPhone" ng-model="userDetails.mobile">
								    </div>
								 </div> 
							  <div class="control-group">
							    <div class="controls">
							       <button type="button" class="btn">Cancel</button> 
							       <button type="button" class="btn" ng-click="updateUser()">Update</button> 
							    </div>
							  </div>
							  
							</form>
							        
			               </div>
			             
			              <div class="tab-pane fade" id="companyDetails">
			                
								
								<form class="form-horizontal">
									
									
									<div class="control-group">
									    <label class="control-label" for="companyName">Company Name :</label>
									    <div class="controls">
									      <input type="text" id="companyName" ng-model="userDetails.company">
									    </div>
									 </div>
									  	
								 	<div class="control-group">
									    <label class="control-label" for="companyDesc">Company Description :</label>
									    <div class="controls">
									      <input type="text" id="companyDesc" >
									    </div>
									 </div>
									 
									 <div class="control-group">
									    <label class="control-label" for="companyAddress" >Company Address :</label>
									    <div class="controls">
									     	<textarea id="companyAddress" rows="3" ng-model="userDetails.officeAddress"></textarea>
									    </div>
									 </div>
									 
								 									  
									  <div class="control-group">
									    <label class="control-label" for="phoneNo">Phone No  :</label>
									    <div class="controls">
									      <input type="text" id="phoneNo" >
									    </div>
									  </div>
								 
									 <div class="control-group">
									    <label class="control-label" for="faxNo">Fax No  :</label>
									    <div class="controls">
									      <input type="text" id="faxNo" >
									    </div>
									  </div>
									  
									  <div class="control-group">
									    <label class="control-label" for="coymanyMail">Company Email  :</label>
									    <div class="controls">
									      <input type="text" id="coymanyMail" >
									    </div>
									  </div>
										
									 <div class="control-group">
									    <label class="control-label" for="coymanyurl">Company URL  :</label>
									    <div class="controls">
									      <input type="email" id="coymanyurl" ng-model="userDetails.companyUrl">
									    </div>
									  </div>
									  
									  <div class="control-group">
									    <label class="control-label" for="coymanyLogo">Company Logo/Poster  :</label>
									    <div class="controls">
									      <input type="file" id="coymanyLogo" >
									    </div>
									  </div>
									
									<div class="control-group">
							    <div class="controls">
							       <button type="button" class="btn">Cancel</button> 
							       <button type="button" class="btn" ng-click="updateUser()">Update</button> 
							    </div>
							  </div>
									
									
									
									
									
								</form>
								
								
			              </div>
			              
			              <div class="tab-pane fade" id="changePassword">
			                
								<form class="form-horizontal">
									<div class="control-group">
									    <label class="control-label" for="newpw">New Password :</label>
									    <div class="controls">
									      <input type="password" id="newpw" ng-model="newPassword">
									    </div>
									 </div>
									 
									 <div class="control-group">
									    <label class="control-label" for="confirmpw">Confirm Password :</label>
									    <div class="controls">
									      <input type="password" id="confirmpw" ng-model="confirmPassword">
									    </div>
									 </div>
										<div class="control-group">
							    <div class="controls">
							       <button type="button" class="btn">Cancel</button> 
							       <button type="button" class="btn" ng-click="resetPassword(newPassword,confirmPassword)">Reset</button> 
							    </div>
							  </div>
									
								</form>
			
			
			              </div>
			              
			              <div class="tab-pane fade" id="socialPlugins">				                
				                
						        <form class="form-horizontal">
								
								
								
								
								<div>
								    <table class="table table-condensed">
								     
								      <thead>
								        <tr>
								          <th> Name Social Network </th>
								          <th> broadcast to...</th>
								          <th> ...when I register an event</th>
								        </tr>
								      </thead>
								      <tbody>
								       
								        <tr>
								          <td> Facebook </td>
								          <td> <img src="assets/img/facbook-btn-login.png" /> </td>
								          <td><input type="checkbox"  ></td>
								        </tr>
								      
								      	 <tr>
								          <td> Twitter </td>
								          <td> <img src="assets/img/twitter-btn-login.png" /> </td>
								          <td><input type="checkbox"  ></td>
								        </tr>
								        
								         <tr>
								          <td> Google  </td>
								          <td> <img src="assets/img/facbook-btn-login.png" /> </td>
								          <td><input type="checkbox"  ></td>
								        </tr>
								        
								      </tbody>
								    </table>
								</div>
												
								
								
								
								
								
								
								
								</form>
							
			              </div>
			              
			              
			            </div>
			          
			 <!-- Create Event Tab Content End -->           
		          
		          </div>
		
		</div>
    
    
   





    <!-- Footer
    ================================================== -->
    <!-- footer class="footer">
      <div class="container">
        © 2009-2013, Copyright @ Company Name. All Rights Reserved.
      </div>
    </footer -->


 	






  </body>
</html>
