<h3>Events List</h3>
<div class="alert alert-info" ng-show="events.length == 0">
    No events found
</div>
<table class="table table-bordered table-striped" ng-show="events.length > 0">
    <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Id</th>
            <th style="text-align: center;">Title</th>
            <th style="text-align: center;">Description</th>
            <th style="text-align: center;">VenueName</th>
            <th style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in events | orderBy:predicate">
            <td style="text-align: center;">{{event.id}}</td>
            <td>{{event.title}}</td>
            <td>{{event.description}}</td>
             <td>{{event.venueName}}</td>
            <td style="width:100px;text-align: center;">
                <button class="btn btn-mini btn-danger" ng-click="removeEvent(event.id)">Remove</button>
                <button class="btn btn-mini btn-success" ng-click="editEvent(event)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger" ng-show="events.length > 1" ng-click="removeAllEvents()">Remove All Events</button>