<div class="alert alert-error" ng-show="error">
    {{errorMessage}}
</div>
<form class="form-horizontal">
<div>
    <tabs>
        <pane heading="Static title">

    <div class="control-group">
        <label class="control-label" for="inputEmail">Event Title</label>

        <div class="controls">
            <input type="text" id="inputEmail" ng-model="event.title" placeholder="Event Title" required min="2">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Description</label>

        <div class="controls">
		<input type="text" id="inputEmail" ng-model="event.description" placeholder="Event Description" required min="2">
        </div>
    </div>
    <div class="control-group">
       
        <label class="control-label" for="inputEmail">VenueName</label>
         <div class="controls">
                 <input type="text" id="inputEmail" ng-model="event.venueName" placeholder="Event VenueName" required min="2">
        </div>
        <hr />
        <div class="controls">
            <button type="button" class="btn btn-primary" ng-disabled="!event.title || !event.description || !event.venueName" ng-hide="editMode" ng-click="addNewEvent(event)">Add Event</button>
            <button type="button" class="btn btn-primary" ng-disabled="!event.title || !event.description || !event.venueName" ng-show="editMode" ng-click="updateEvent(event)">Save Event</button>
            <button type="button" class="btn" ng-click="resetEventForm()">Reset</button>
        </div>
    </div>
</pane>
        <pane ng-repeat="pane in panes" heading="{{pane.title}}" active="pane.active">{{pane.content}}</pane>
    </tabs>
    
    </div>
    </form>


<hr />
<h3>Events List</h3>
<div class="alert alert-info" ng-show="events.length == 0">
    No events found
</div>
<table class="table table-bordered table-striped" ng-show="events.length > 0">
    <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Id</th>
            <th style="text-align: center;">Title</th>
            <th style="text-align: center;">Description</th>
            <th style="text-align: center;">VenueName</th>
            <th style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in events | orderBy:predicate">
            <td style="text-align: center;">{{event.id}}</td>
            <td>{{event.title}}</td>
            <td>{{event.description}}</td>
             <td>{{event.venueName}}</td>
            <td style="width:100px;text-align: center;">
                <button class="btn btn-mini btn-danger" ng-click="removeEvent(event.id)">Remove</button>
                <button class="btn btn-mini btn-success" ng-click="editEvent(event)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger" ng-show="events.length > 1" ng-click="removeAllEvents()">Remove All Cars</button>