

<link href="resources/bootstrap/css/entertainment.css" rel="stylesheet">


          	
          	<div ng-include src="'html/eventpageheader.html'"></div>
			   	
<div class="eventCont">
			   	
          	 <div class="eventBanners">  	
					
							<img ng-src='{{event.banner}}' />     
					
					
					
		    </div>
			
	<div class="container eventPage">	
			<div ng-show="editMode==false" >
            	{{status.status}} - {{status.orderId}}. 
            	</div>
            	
			<div class="span3 ">
				<table class="table table-condensed" >
				<thead>
					<tr>
						<th>Ticket Type</th>
						<th class="amt">Price</th>
						<th class="amt">Quantity</th>

					</tr>
				</thead>
				<tbody>
				<tr ng-repeat="ticketRegister in orderRegister.ticketRegisters" >
						  <td class="amt">{{ticketRegister.ticketName}} </td>
						  <td class="amt">{{ticketRegister.price}} </td>
						  <td class="amt"> {{ticketRegister.qty}}</td>
						</tr>
								
				
				</tbody>
				</table>
				
				
				
				
				<form class="form-horizontal" name="ticketInfoForm" id="ticketInforFormId">   
							  <h2 ng-show="orderRegister.registrationLimit!=null"><timer interval="1000" countdown="orderRegister.registrationLimit*60">{{minutes}} :{{seconds}}</timer></h2> 
							<h4>Ticket Buyer</h4>
					
						<div class="control-group">
							    <label class="control-label" for="firstName">First Name :<span ng-style="{color:'red'}">*</span></label>
							    <div class="controls">
							      <input type="text" name="firstName" id="firstName" ng-model="orderRegister.firstName" required >
							       <span ng-show="firstNameRequired" ng-style="{color:'red'}">Required.</span>
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="lastName">Last Name :<span ng-style="{color:'red'}">*</span></label>
							    <div class="controls">
							      <input type="text" name="lastName" id="lastName" ng-model="orderRegister.lastName" required >
							      <span ng-show="lastNameRequired" ng-style="{color:'red'}">Required.</span>
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="emailaddress">Email Address :<span ng-style="{color:'red'}">*</span></label>
							    <div class="controls">
							      <input type="text" name="emailAddress" id="emailaddress" ng-model="orderRegister.email" required >
							       <span ng-show="emailAddressRequired" ng-style="{color:'red'}">Required.</span>
							    </div>
							  </div>
							  
							   <h4>Billing Information</h4>
							 
							 
							 	
							 	
							  	<div class="control-group">
								    <label class="control-label" for="Address">Address1 :<span ng-style="{color:'red'}">*</span></label>
								    <div class="controls">
								      <input type="text" name="address1" id="Address" ng-model="orderRegister.billingAddress.address1" required >
								      <span ng-show="address1Required" ng-style="{color:'red'}">Required.</span>
								    </div>
								  </div>
								  
								  <div class="control-group">
								    <label class="control-label" for="Address1">Address2  :</label>
								    <div class="controls">
								      <input type="text" id="Address1" ng-model="orderRegister.billingAddress.address2">
								    </div>
								  </div>
							  
							    <div class="control-group">
								    <label class="control-label" for="state">City :<span ng-style="{color:'red'}">*</span></label>
								    <div class="controls">
								    <input ui-select2="cityselect2options" name="city" ng-model="cityinput" ng-change="selectCity(cityinput)" required />
								    <span ng-show="cityRequired" ng-style="{color:'red'}">Required.</span>
								    </div>
								  </div>	
							  	
								  <div class="control-group">
								    <label class="control-label" for="state">State :</label>
								    <div class="controls">
								    <input type="text" id="eventStateName" ng-model="state" disabled="disabled" >
								    </div>
								  </div>
								  
								   <div class="control-group">
								    <label class="control-label" for="state">Country :</label>
								    <div class="controls">
										   <input type="text" id="eventCountryName" ng-model="country" disabled="disabled" >
								    </div>
								  </div>
							  
							  
								  <div class="control-group">
								    <label class="control-label" for="Pincode">Pincode  :<span ng-style="{color:'red'}">*</span></label>
								    <div class="controls">
								      <input type="text" name="pincode" id="Pincode"  ng-model="orderRegister.billingAddress.zipCode" required>
								      <span ng-show="pincodeRequired" ng-style="{color:'red'}">Required.</span>
								    </div>
								  </div>
							 
						 <div ng-repeat="ticketRegForm in orderRegister.ticketRegForms" >
							<h4>{{ticketRegForm.ticketName}}</h4>
							 <div ng-repeat="infoSettings in ticketRegForm.infoSettings" >
								<div class="control-group">
								    <label class="control-label" for="Pincode">{{infoSettings.name}} : <span ng-show="infoSettings.isRequired" ng-style="{color:'red'}">*</span></label>
								    <div class="controls">
								      <input type="text" id="infosettings"  ng-model="infoSettings.value" ng-show="infoSettings.type=='TEXT'" required="infoSettings.isRequired">
								      <select id="Category" ng-model="infoSettings.value" ng-show="infoSettings.type=='DROPDOWN'"
								        ng-options="c for c in infoSettings.options" required="infoSettings.isRequired">
									  </select>
									  </div>
								</div>
								<div ng-show="infoSettings.name=='Work Address' || infoSettings.name=='Home Address' || infoSettings.name=='Shipping Address'">
								   <div class="control-group">
								    <label class="control-label" for="state">City :<span ng-show="infoSettings.isRequired" ng-style="{color:'red'}">*</span></label>
								    <div class="controls">
								    <input ui-select2="cityselect2options" ng-model="infoSettings.value" ng-change="selectCity(infoSettings.value)" required="infoSettings.isRequired" />								    
								    </div>
								  </div>	
							  	
								  <div class="control-group">
								    <label class="control-label" for="state">State :</label>
								    <div class="controls">
								    <input type="text" id="eventStateName" ng-model="state" disabled="disabled" >
								    </div>
								  </div>
								  
								  <div class="control-group">
								    <label class="control-label" for="state">Country :</label>
								    <div class="controls">
									<input type="text" id="eventCountryName" ng-model="country" disabled="disabled" >
								    </div>
								  </div> 
								</div>
								    
							 
							</div>
						 </div>
							  
							  <div class="control-group">
							    <div class="controls">
							      <button type="button" class="btn " ng-click="bookTicket()" ng-disabled="disablePayment">Payment</button> 
							    </div>
							  </div>	
							
				
							</form>
							
							
							<div class="span">

								<ul id="myTab" class="nav nav-tabs">
									<li class="active">		<a href="#aboutEvent" 	data-toggle="tab">  About Event          		</a></li>     
									<li>					<a href="#termCondition" 	data-toggle="tab"> Term & Condition    		</a></li>  
									
								</ul>
		
		
								<div id="myTabContent" class="tab-content">
									
									<div class="tab-pane fade in active" id="aboutEvent">
										<form class="form-horizontal">
										asdasd
										<div ng-bind-html-unsafe="event.description" >ddd</div>
										</form>
									</div>
									
									<div class="tab-pane fade in " id="termCondition">
										<form class="form-horizontal">Term & Condition  </form>
									</div>
										
								</div>		
			
							</div>
				
				
			</div>
			
		
									<div class="span1 ">
									
									
									
									
									
					<h3>Event Details</h3>
											<div class="filterControl">
												<ul class="eventDetails eventDetailsIcon">
													<li > <i class="iconCalanderStart"></i>	<span>Start Date:</span> {{event.startDate}}</li>
													<li > <i class="iconCalanderEnd"></i>	<span>End Date:</span> {{event.endDate}}</li>
													<!-- <li > <i class="iconTime"></i>		10:00 am - 9:00 pm</li> -->
													<li  class="addressCont"> <i class="iconAddress"></i>
														{{ event.venueAddress}}
													</li>
													<li > <i class="iconTime"></i>
														<span>Time Zone:</span> {{event.timeZone}}
													</li>
												</ul>
											</div>
					
					
									
									
									
									
									<h3>Order Summary</h3>
										<div class="filterControl">
											
											<ul class="eventDetails eventDetailsIcon">
												<li class="newAddress" > <i class="iconTicket">	</i> 	Not of Tickets : {{ orderRegister.totalTickets}}	</li>
												<!-- <li > <i class="iconCalander">	</i>	July 20, 2013				</li>
												<li > <i class="iconTime">		</i>	7:00am to 11:00am			</li> 
												<li > <i class="iconAddress">	</i>	Decathalon, Sarjapur,		</li> -->
												<li class="newAddress" > <i class="iconTicket">	</i>	Gross Amount: {{orderRegister.grossAmount}}		</li>
												<li class="newAddress" > <i class="iconTicket">	</i> 	Payable Amount : {{orderRegister.netAmount}}		</li>
											</ul>
											<!-- <button class="btn ">Edit Order</button> -->
										</div>
									</div>
			
									
			
								<div class="span1">
										<h3>Contact Details</h3>
										<div class="filterControl">
											<ul class="eventDetails eventDetailsIcon">
												<li class="newAddress" > <i class="iconAddress"></i><span>Organizer Name:</span>	{{event.organizerName}}</li>
												<li class="newAddress" > <i class="iconAddress"></i><span>Contact:</span>	{{event.contactDetails}} </li>
											</ul>
										</div>
								
									
			<div style="clear: both"> </div>	
			</div>
			
			
	<div style="clear: both"> </div>			
				

        	
        
          </div>

 </div>
<div ng-include src="'html/footer.html'"></div>

       


