
          
 		<div ng-include src="'html/header.html'"></div>          
      
		<div class="container inPageContainer" > 
		
	<!-- 	<div ng-class="'alert alert-'+message().type" ng-show="message().show" >
		    <button type="button" class="close" ng-click="message().show=false">x</button>
		    <msg>{{message().text}}</msg>
		</div> -->
		
		
            <h1>My Tickets</h1>
            <div ng-show="myTicketsList.length!=0">
          		<form class="form-horizontal" class="row-fluid">
         		 	 <div class="floatLeft" > Show: <select ng-model="showtickets" ng-init="showtickets=10" ng-options="limit.id as limit.value for limit in shows"> </select></div>
         		 	 <div class="floatRight" >Search Text: <input type="text" id="searchTextTickets" ng-model="searchTextTickets"></div>
         		 	 <br>
         		 </form> 
         		 
				 <table class="table table-condensed" id="mytickets">
				      <thead>
				        <tr>
	  	 				  <!-- <th><a href="" ng-click="predicate = 'orderId'; reverse=!reverse">ORDER ID</a></th>
	  	 				  <th><a href="" ng-click="predicate = 'suborderId'; reverse=!reverse">SUBORDER ID</a></th> -->
				          <th><a href="" ng-click="predicate = 'evnetName'; reverse=!reverse">EVENT NAME</a></th>
				          <th><a href="" ng-click="predicate = 'ticketName'; reverse=!reverse">TICKET NAME</a></th>
				          <th><a href="" ng-click="predicate = 'bookedOn'; reverse=!reverse">BOOKED ON</a></th>
				          <th><a href="" ng-click="predicate = 'startDate'; reverse=!reverse">EVENT STARTS ON</a></th>
				          <th><a href="" ng-click="predicate = 'endDate'; reverse=!reverse">EVENT ENDS ON</a></th>
				          <th class="amt"><a href="" ng-click="predicate = 'quantity'; reverse=!reverse">QTY</a></th>
				          <th class="amt"><a href="" ng-click="predicate = 'status'; reverse=!reverse">Status</a></th>
				          <th class="amt"><a href="" ng-click="predicate = 'ticketPrice'; reverse=!reverse">AMOUNT</a></th>
				          <th>QUICK LINKS</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr ng-repeat="myTicket in myTicketsList  | filter:searchTextTickets | limitTo:showtickets |orderBy:predicate:reverse">
						<!--   <td>{{myTicket.orderId}}</td>
						  <td>{{myTicket.suborderId}}</td> -->
				          <td>{{myTicket.evnetName}}</td>
				          <td>{{myTicket.ticketName}}</td>
				          <td>{{myTicket.bookedOn}}</td>
				          <td>{{myTicket.startDate}}</td>
				          <td>{{myTicket.endDate}}</td>
				          <td class="amt">{{myTicket.quantity}}</td>
				          <td class="amt">{{myTicket.ticketPrice}}</td>
				          <td><a href="" ng-click="openPrintTicket(myTicket.suborderId)" >Print Ticket</a> | <a href=""  ng-click="sendTicket(myTicket.suborderId)">send mail</a></td>
				        </tr>
				        
				      </tbody>
				    </table>
				</div>
				<div ng-show="myTicketsList.length==0">
					No tickets found.
				</div>
		</div>
		
			
			
		<div  modal="shouldBeOpen"  close="closePrintTicket()" >
			<div class="modal-header">
				<h3>TICKET INVOICE</h3>
			</div>

			<div class="modal-body">
				<form class="form-horizontal">
					<div class="inviceBlock">
						<img src="resources/bootstrap/img/logo.png" style="float: left; margin-top: 10px" />
						<p>{{invoice.eventName}}</p>
					</div>
					<div class="inviceBlock">
						<dl class="dl-horizontal">
							<dt> Registration No : 		</dt><dd> {{invoice.id}}</dd>
							<dt> Registration Date :		</dt><dd>{{invoice.createdDate}}</dd>
							<dt> Order No : 				</dt><dd> {{invoice.orderId}}</dd>
							<dt> Event Date :				</dt><dd> {{invoice.eventDate}}</dd>
							<dt> Event Id : 				</dt><dd> {{invoice.eventId}}</dd>
						</dl>
					</div>
				
					<div class="inviceBlock">
						<h3>Venue:</h3>
						<p>{{invoice.venue}}</p>
					</div>
					
					<div class="inviceBlock">
						<dl class="dl-horizontal">
							<dt> Organizer Name :</dt><dd> {{invoice.organizerName}}</dd>
							<dt> Organizer Contact :</dt><dd> {{invoice.organizerContact}}</dd>
							<dt> Attendee Name :</dt><dd> {{invoice.buyer}}</dd>
						</dl>
					</div>
  		<div>


		<table class="table table-condensed">
		  <thead>
			<tr>
			  <th>Ticket Type</th>
			  <th>Quantity</th>
			  <th>Price/unit</th>
			  <th>Total Price</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td class="amt"> {{invoice.ticketType}}</td>
			  <td class="amt">  {{invoice.quantity}}</td>
			  <td class="amt">  {{invoice.price}}</td>
			  <td class="amt">  {{invoice.totalPrice}}</td>
			</tr>
			<tr>
			  <td class="amt">Total Amount </td>
			  <td class="amt"> </td>
			  <td class="amt">  </td>
			  <td class="amt">  {{invoice.totalAmount}}</td>
			</tr>
		  </tbody>
		</table>
		
</div>
  
		<div class="invoiceCont">
			<h5>Terms and Conditions:</h5>
			<p>Terms</p>
	
			<h5>Declaration:</h5>
			<p>declations</p>
		</div>  
  
</form>
        
  			</div>


			<div class="modal-footer">
			<button class="btn btn-warning cancel" ng-click="closePrintTicket()">Cancel</button>
			</div>
		</div>
<div ng-include src="'html/footer.html'"></div>
