		        
		        <div ng-controller="CreateEventController">
		      
		      
		      
			            <h1>Create Event</h1>
			            
			 <!--  Create Event Nav Tab  
			 ================================================== -->           
			            <ul id="myTab" class="nav nav-tabs">
				              <li class="active">	<a href="#eventInformation" data-toggle="tab">	Event Information	</a></li>
				              <li>					<a href="#venueInformation" data-toggle="tab">	Venue Information	</a></li>
				              <li>					<a href="#organizerInformation" data-toggle="tab">Organizer Information	</a></li>
				              <li>					<a href="#ticketInformation" data-toggle="tab">	Ticket Information	</a></li>
			            </ul>
			 <!--  Create Event Nav Tab -->  
			 
			 <!-- Create Event Tab Content Start  
			 ================================================== -->
			            
			            <div id="myTabContent" class="tab-content">
			            	
			              <div class="tab-pane fade in active" id="eventInformation">
			         		<form class="form-horizontal" name="eventForm">
							<span ng-show="startDateBeforeEndDate" ng-style="{color:'red'}">Start date & time should not be after End date & time.</span>
							  <div class="control-group">
							    <label class="control-label" for="eventTitle">Event Title :<span ng-style="{color:'red'}">*</span></label>
							    <div class="controls">
							      <input type="text" id="eventTitle" name="eName" ng-model="event.title" ng-change="updateUrl()" placeholder="Title" required >
							      <span ng-show="nameRequired" ng-style="{color:'red'}">Required.</span>
						    </div>
							  </div>
							  
							    <div class="control-group">
							    <label class="control-label" for="description">Description :</label>
							    <div class="controls">
							      <!-- <textarea id="description" name="description" required ng-model="event.description" placeholder="Description" required></textarea> -->
							      <textarea id="rteDesc" ck-editor name="description" placeholder="RTE" ng-model="event.description"></textarea>
							      <span ng-show="descRequired" ng-style="{color:'red'}">Required.</span>
							    </div>
							  </div>
							  
							  
							  
							    <div class="control-group">
							    <label class="control-label" for="startDate">Start Date & Time :<span ng-style="{color:'red'}">*</span></label>
							    <div class="controls">
								 	<div id="datetimepickerStart" class="input-append date datetimepicker">
				      					<input type="text" name="startDate" datetime-picker  ng-model="event.startDate" 
				      										placeholder="Start Date and Time" readonly required ></input>
				      										<span class="add-on"><i class="icon-th"></i></span>
				      				</div>
				      				<span ng-show="startDateRequired" ng-style="{color:'red'}">Required.</span>
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="endDate">End Date & Time :<span ng-style="{color:'red'}">*</span></label>
							    <div class="controls">
								 	<div id="datetimepickerEnd" class="input-append date datetimepicker">
				      					<input type="text" name="endDate" datetime-picker ng-model="event.endDate" 
				      										placeholder="End Date and Time" readonly required></input>
				      										<span class="add-on"><i class="icon-th"></i></span>
				      				</div>
				      				<span ng-show="endDateRequired" ng-style="{color:'red'}">Required.</span>
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="category">Category :<span ng-style="{color:'red'}">*</span></label>
							    <div class="controls">
									  <select name="category" id="Category" ng-model="event.subCategoryId" 
													ng-options="cat.value as cat.key for cat in categories" required>
													<option value="">-- Select Category --</option>
										</select>
										<span ng-show="catRequired" ng-style="{color:'red'}">Required.</span>
							    </div>
							  </div>
							  
							  <div class="control-group ">
							    <div class="controls">
							      <label class="checkbox">
							        <input type="checkbox" ng-model="event.isPrivate">Is Event Private <br>
							        <span class="info">(If Checked Event will not be available in search, You can directly give Event link for registration.)!</span>
							      </label>
							    </div>
							  </div>
							 			  
							  
							  <div class="control-group">
							    <label class="control-label" for="uploadBanner">Upload Banner :</label>
							    <div class="controls">
							      
							       <input type="file" class="fileupload" name="file" ng-model="event.bannerFile"
											data-url="upload/file" fileupload-plugin/>
											
							    </div>
							  </div>
							  
							
							  
							  <div class="control-group">
							    <div class="controls">
							    <!-- ng-disabled="!event.title || !event.description || !event.startDate || !event.endDate" -->
							      <button type="submit" class="btn" ng-hide="editMode" ng-click="addNewEvent()" ng-disabled="disabled">Save & Exit</button>
							      <button type="submit" class="btn " ng-hide="editMode" ng-click="addNewEventAndPublish()" ng-disabled="disabled">Save & Publish</button>
							     <!--  <a href="#venueInformation" data-toggle="tab"><button type="button" class="btn " ng-disabled="!event.title || !event.description || !event.startDate || !event.endDate" ng-hide="editMode">Next</button></a> -->
							    </div>
							  </div>
							</form>
							        
			               </div>
			             
			              <div class="tab-pane fade" id="venueInformation">
			                
								<form class="form-horizontal" name="venueForm">
							  
								  <div class="control-group">
								    <div class="controls">
								      
								        <input type="checkbox" ng-model="event.isWebinar" ng-click="isWebinar=!isWebinar" ng-change="setRequiredFields()"> Is Webinar
								      
								    </div>
								  </div>
							  <div collapse="isWebinar">
								
							  <div class="control-group">
							    <label class="control-label" for="venueTitle">Venue Title :<span ng-style="{color:'red'}">*</span></label>
							    <div class="controls">
							      <input type="text" name="venueName" id="eventVenueName" ng-model="event.venueName" required min="6" >
							      <span ng-show="venueNameReq" ng-style="{color:'red'}">Required.</span>
							    </div>
							  </div>	
							  						  
							  
								  <div class="control-group">
								    <label class="control-label" for="venueAddress1">Venue Address1 :<span ng-style="{color:'red'}">*</span></label>
								    <div class="controls">
								      <textarea id="venueAddress2" name="venueAddress1" rows="3" ng-model="event.address1" required ></textarea>
								      <span ng-show="venueAdd1Req" ng-style="{color:'red'}">Required.</span>
								    </div>
								  </div>
								  <div class="control-group">
								    <label class="control-label" for="venueAddress2">Venue Address2 :</label>
								    <div class="controls">
								      <textarea id="venueAddress2" name="venueAddress2" rows="3" ng-model="event.address2" ></textarea>
								     
								    </div>
								  </div>								  
							  
							  	  <div class="control-group">
								    <label class="control-label" for="state">City :<span ng-style="{color:'red'}">*</span></label>
								    <div class="controls">
								    <input ui-select2="cityselect2options" ng-model="cityinput" ng-change="selectCity(cityinput)" required />
								    <span ng-show="citryReq" ng-style="{color:'red'}">Required.</span>
								    </div>
								  </div>	
							  	
								  <div class="control-group">
								    <label class="control-label" for="state">State :<span ng-style="{color:'red'}">*</span></label>
								    <div class="controls">
								    <input type="text" id="eventStateName" ng-model="state" disabled="disabled" >
								    </div>
								  </div>
								  
								   <div class="control-group">
								    <label class="control-label" for="state">Country :<span ng-style="{color:'red'}">*</span></label>
								    <div class="controls">
										   <input type="text" id="eventCountryName" ng-model="country" disabled="disabled" >
								    </div>
								  </div>
								  
							  
							  
								  <div class="control-group">
								    <label class="control-label" for="inputEmail">Pincode  :<span ng-style="{color:'red'}">*</span></label>
								    <div class="controls">
								      <input type="number" name="pincode" id="pincode" ng-model="event.zipCode" required>
								      <span ng-show="pinReq" ng-style="{color:'red'}">Required.</span>
								    </div>
								  </div>
							  </div>
								  <div class="control-group">
								    <div class="controls">
								    <!-- ng-disabled="!event.title || !event.description || !event.startDate || !event.endDate" -->
								      <button type="submit" class="btn "  ng-disabled="disabled" ng-hide="editMode" ng-click="addNewEvent(event)">Save & Exit</button>
								      <button type="submit" class="btn " ng-hide="editMode" ng-click="addNewEventAndPublish()" ng-disabled="disabled">Save & Publish</button>
								     <!--  <a href="#organizerInformation" data-toggle="tab"><button type="button" class="btn ">Next</button></a> -->
								    </div>
								  </div>
							  
							</form>
			
			              </div>
			              
			              <div class="tab-pane fade" id="organizerInformation">
			                
								<form class="form-horizontal" name="orgForm">
				           <div class="control-group" ng-show="showOrgName">
							    <label class="control-label" for="organizerName">Organizer Name :<span ng-style="{color:'red'}">*</span></label>
							    <div class="controls">
							      <input type="text" name="orgName" id="organizerName" ng-model="event.organizerName" required min="6" >
							      <span ng-show="orgNameReq" ng-style="{color:'red'}">Required.</span>
							    </div>
							  </div>							  
							  
								  <div class="control-group" ng-show="showOrgDesc">
								    <label class="control-label" for="organizerDescription">Organizer Description :</label>
								    <div class="controls">
								      <textarea id="organizerDescription" rows="3" ng-model="event.organizerDescription" ></textarea>
								    </div>
								  </div>
							  
							  
							  
							
							  
							  
							  
							  <div class="control-group">
							    <div class="controls">
							      <button type="submit" class="btn " ng-disabled="disabled" ng-hide="editMode" ng-click="addNewEvent(event)">Save & Exit</button>
							      <button type="submit" class="btn " ng-hide="editMode" ng-click="addNewEventAndPublish()" ng-disabled="disabled">Save & Publish</button>
							      <!-- <a href="#ticketInformation" data-toggle="tab"><button type="button" class="btn ">Next</button></a> -->
							    </div>
							  </div>
							  
							</form>
			
			              </div>
			              
			              <div class="tab-pane fade" id="ticketInformation">				                
				                
						        <!-- <form class="form-horizontal"> -->
							  <form class="form-horizontal" name="tktForm">
							  
									<div class="control-group">
									    <label class="control-label" for="inputEmail">Add Ticket :</label>
									    <div class="controls">
									      <button type="button" class="btn "  ng-click="addNewFreeTicket(event)">Free</button>
									      <button type="buttom" class="btn " ng-click="addNewPaidTicket(event)">Paid</button>   
									    </div>
									</div>
						
							  <table>
							  <tbody>
							   <tr ng-repeat="ticket in event.tickets" >
							   <td>
									<table class="table table-condensed" >
								      <thead>
								        <tr>
								        	
					  	 		
								          <th>TICKET NAME <span ng-style="{color:'red'}">*</span></th>
								          <th>TICKET QUANTITY</th>
								          <th>TICKET PRICE</th>
								          <th>  </th>
								          <th>  </th>
								        </tr>
								      </thead>
								      <tbody>
								        <tr>
								          <td> <input type="text" ng-model="ticket.name" required ></td>
								          <td> <input class="quant" type="text" ng-model="ticket.quantity"> {{tktName[$index]}}</td>
								          <td><span ng-show="ticket.ticketType=='FREE'">FREE</span><input type="text" ng-show="ticket.ticketType=='PAID'" ng-model="ticket.price" ></td>
								          <td>
								        	<button class="btn " ng-click="isCollapsed = !isCollapsed"><div tooltip="Sales Start : {{ticket.saleStart}} <br> Sales End : {{ticket.saleEnd}} Minimum Tickets : {{ticket.minQty}} Maximum Tickets : {{ticket.maxQty}}">Setting</div></button>
								        	</td>
								          <td>
								          	
								          	<button type="button" class="btn " ng-click="removeTicket($index)" >X</button>
								          	
								          </td>
								        </tr>
								      
								        
								      </tbody>
								    </table>
								    
								    		 <!-- <div ng-show="ticket.showsettings == true"> -->
								    		 <div collapse="isCollapsed">
				           <div class="control-group">
						<div class="controls" style="text-align: right">
							    	
							      <!-- <button id="hide" type="button" class="close" ng-click="showticketsettings(ticket, false)">X</button> -->
							      
							    </div>
								    <label class="control-label" for="ticketDescription">Ticket Description :*</label>
								    <div class="controls">
								      <textarea id="ticketDescription" rows="3" ng-model="ticket.description" ></textarea>
								    </div>
								  </div>
							   <div class="control-group">
							    <label class="control-label" for="ticketStartDate">Ticket Sale Start On :</label>
							    <div class="controls">
								 	<div id="datetimepickerStart1" class="input-append date datetimepicker">
				      					<input type="text" datetime-picker ng-model="ticket.saleStart" 
				      										placeholder="Sale Start On" readonly></input>
				      										<span class="add-on"><i class="icon-th"></i></span>
									</div>
							    </div>
							  </div>
							  
							   <div class="control-group">
							    <label class="control-label" for="ticketStartDate">Ticket Sale End On :</label>
							    <div class="controls">
								 	<div id="datetimepickerEnd1" class="input-append date datetimepicker">
				      					<input type="text" datetime-picker  ng-model="ticket.saleEnd" 
				      										placeholder="Sale Ends On" readonly></input>
				      										<span class="add-on"><i class="icon-th"></i></span>
									</div>
							    </div>
							  </div>
							  
							  
							      <div class="control-group">
							    <label class="control-label" for="minQty">Min Qty For Order :</label>
							    <div class="controls">
							      <input type="text" id="ticketMinQty" ng-model="ticket.minQty" >
							    </div>
							  </div>							  
							      <div class="control-group">
							    <label class="control-label" for="tcktMaxQty">Max Qty For Order :</label>
							    <div class="controls">
							      <input type="text" id="tcktMaxQty" ng-model="ticket.maxQty" >
							    </div>
							  </div>
							 
							  
							 
							  
							</div>
							
							

							  </td>
							   </tr>
    </tbody>
</table>
	 <div class="control-group">
							    <div class="controls">
							    <!-- ng-disabled="!event.title || !event.description || !event.startDate || !event.endDate" -->
							      <button type="submit" class="btn " ng-hide="editMode" ng-click="addNewEvent(event)" ng-disabled="disabled">Save & Exit</button>
							      <button type="submit" class="btn " ng-hide="editMode" ng-click="addNewEventAndPublish()" ng-disabled="disabled">Save & Publish</button>
							     </div>
							  </div>
							</form >
							
			              </div>
			              
			              
			            </div>
			          
			 <!-- Create Event Tab Content End -->   
			 
			 <!-- 	<div id="loadingPopup" class="modal hide" tabindex="-1">
						Please wait...
				</div>        
		           -->
		          </div>
		
    
   


