		         <div class="span9 contBox">   
		        <div class="span9" ng-controller="CreateEventController">
		      
			            <h1>Event Details</h1>
			            
			            
			 <!--  Create Event Nav Tab  
			 ================================================== -->           
			            <ul id="myTab" class="nav nav-tabs">
				              <li class="active">	<a href="#eventInformation" data-toggle="tab">	Event Information	</a></li>
				              <li>					<a href="#venueInformation" data-toggle="tab" ng-click="collapseWebinar=event.isWebinar">	Venue Information	</a></li>
				              <li>					<a href="#organizerInformation" data-toggle="tab">Organizer Information	</a></li>
				              <li>					<a href="#ticketInformation" data-toggle="tab">	Ticket Information	</a></li>
			            </ul>
			 <!--  Create Event Nav Tab -->  
			 
			 <!-- Create Event Tab Content Start  
			 ================================================== -->
			            
			            <div id="myTabContent" class="tab-content">
			            	
			              <div class="tab-pane fade in active" id="eventInformation">
			                
								<form class="form-horizontal" name="eventForm">
							 <div class="control-group">
							    <label class="control-label" for="eventTitle" ng-style="{color:'blue'}">Event Title :</label> 
							    <div class="controls">
							      {{event.title}}							      
						    </div>
							  </div>
							  
							    <div class="control-group">
							    <label class="control-label" for="description" ng-style="{color:'blue'}">Description :</label>
							    <div class="controls">
							      {{event.description}}
							      
							    </div>
							  </div>
							  
							  
							  
							    <div class="control-group">
							    <label class="control-label" for="startDate" ng-style="{color:'blue'}">Start Date & Time :</label>
							    <div class="controls">
								 	
				      					{{event.startDate}}
				      				
				      			
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="endDate" ng-style="{color:'blue'}">End Date & Time :</label>
							    <div class="controls">
								 	
				      					{{event.endDate}}
				      			
							    </div>
							  </div>
							  
							 <!-- <div class="control-group">
							    <label class="control-label" for="status">Status :</label>
							    <div class="controls">
									  <select id="status" ng-model="event.status"
													ng-options="status.statusName for status in statuses"">
										</select>
							    </div>
							  </div>
							 -->
							  
							  <div class="control-group ">
							    <div class="controls">
							      <label class="checkbox">
							        <input type="checkbox" ng-model="event.isPrivate" readOnly>Is Event Private <br>
							        <span class="info">(If Checked Event will not be available in search, You can directly give Event link for registration.)!</span>
							      </label>
							    </div>
							  </div>
							  <div class="control-group">
							    <label class="control-label" for="facebookURL" ng-style="{color:'blue'}">Event Facebook URL :</label>
							    <div class="controls">
							      {{event.faceBookUrl}}
							    </div>
							  </div>							  
							  							  
							  

							  <div class="control-group">
							    <label class="control-label" for="category" ng-style="{color:'blue'}">Category :</label>
							    <div class="controls">
									  <select id="Category" ng-model="category" ng-change="fetchSubCategories()"
													ng-options="cat.value as cat.key for cat in categories" readOnly>
													<option value="">-- Select Category --</option>
										</select>
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="subCategory" ng-style="{color:'blue'}">Sub Category :</label>
							    <div class="controls">
							      	<select id="Subcategory" ng-model="event.subCategoryId"
													ng-options="subcat.value as subcat.key for subcat in subcategories" readOnly>
													<option value="">-- Select SubCategory --</option>
										</select>
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="uploadBanner" ng-style="{color:'blue'}">Upload Banner :</label>
							    <div class="controls">
							      
							       <input type="file" class="fileupload" name="file" ng-model="event.bannerFile"
											data-url="upload/file" fileupload-plugin/>
											
							    </div>
							  </div>
							  
							
							  <div class="control-group">
							    <label class="control-label" for="url" ng-style="{color:'blue'}">Event URL :</label>
							    <div class="controls">
							     <a href="http://www.eventpool.com\events\{{event.eventUrl}}" target="_blank">www.eventpool.com\events\{{event.eventUrl}}</a>
							    </div>
							    <span ng-show="eventForm.url.$error.eventnameexists" style="font-family: 'Lato', sans-serif; font-weight: 300;color:red;"
                   					class="validation_msg"> Event name taken </span>
                  				</span>
							  </div>		
							  
							    <div class="control-group">
							    <label class="control-label" for="eventSearch" ng-style="{color:'blue'}">Event search key words :</label>
							    <div class="controls">
							      {{event.keyWords}}
							    </div>
							    </div>
							  
				
							</form>
							        
			               </div>
			             
			              <div class="tab-pane fade" id="venueInformation">
			                
								<form class="form-horizontal" name="venueForm">
							  
								  <div class="control-group">
								    <div class="controls">
								      
								        <input type="checkbox" ng-model="event.isWebinar" ng-disabled="true"> Is Webinar
								      
								    </div>
								  </div>
								
							  <div ng-show="!event.isWebinar">
								
							  <div class="control-group">
							    <label class="control-label" for="venueTitle" ng-style="{color:'blue'}">Venue Title :</label>
							    <div class="controls">
							      {{event.venueName}}
							     
							    </div>
							  </div>	
							  						  
							  
								  <div class="control-group">
								    <label class="control-label" for="venueAddress1" ng-style="{color:'blue'}">Venue Address1 :</label>
								    <div class="controls">
								      {{event.address1}}
								      
								    </div>
								  </div>
								  <div class="control-group">
								    <label class="control-label" for="venueAddress2" ng-style="{color:'blue'}">Venue Address2 :</label>
								    <div class="controls">
								      {{event.address2}}
								      
								    </div>
								  </div>								  
							  
							  	  <div class="control-group">
								    <label class="control-label" for="state" ng-style="{color:'blue'}">City :</label>
								    <div class="controls">
								    <input ui-select2="cityselect2options" ng-model="cityinput" ng-change="selectCity(cityinput)" readOnly/>
								    </div>
								  </div>	
							  	
								  <div class="control-group">
								    <label class="control-label" for="state" ng-style="{color:'blue'}">State :</label>
								    <div class="controls">
								    <input type="text" id="eventStateName" ng-model="state" disabled="disabled" readOnly>
								    </div>
								  </div>
								  
								   <div class="control-group">
								    <label class="control-label" for="state" ng-style="{color:'blue'}">Country :</label>
								    <div class="controls">
										   <input type="text" id="eventCountryName" ng-model="country" disabled="disabled" readOnly>
								    </div>
								  </div>
								  
							  
							  
								  <div class="control-group">
								    <label class="control-label" for="inputEmail" ng-style="{color:'blue'}">Pincode  :</label>
								    
								      {{event.zipCode}}
								    
								  </div>
							  </div>
							 
						
							  
							</form>
			
			              </div>
			              
			              <div class="tab-pane fade" id="organizerInformation">
			                
								<form class="form-horizontal" name="orgForm">
				           <div class="control-group">
							    <label class="control-label" for="organizerName" ng-style="{color:'blue'}">Organizer Name :</label>
							    <div class="controls">
							      {{event.organizerName}}
							    
							    </div>
							  </div>							  
							  
								  <div class="control-group">
								    <label class="control-label" for="organizerDescription" ng-style="{color:'blue'}">Organizer Description :</label>
								    <div class="controls">
								      {{event.organizerDescription}}
								    </div>
								  </div>
							  
							  
							  
							  <div class="control-group">
							    <label class="control-label" for="contactDetails" ng-style="{color:'blue'}">Event Contract Info :</label>
							    <div class="controls">
							      {{event.contactDetails}}
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <label class="control-label" for="website" ng-style="{color:'blue'}">Event Website URL :</label>
							    <div class="controls">
									  {{event.eventWebSiteUrl}}
							    </div>
							  </div>
				
							  
							</form>
			
			              </div>
			              
			              <div class="tab-pane fade" id="ticketInformation">				                
				                
						        <!-- <form class="form-horizontal"> -->
							  <form class="form-horizontal" name="tktForm">
											
							  <table>
							  <tbody>
							   <tr ng-repeat="ticket in event.tickets" >
							   <td>
									<table class="table table-condensed" >
								      <thead>
								        <tr>
								        	
					  	 		
								          <th><span ng-style="{color:'blue'}">TICKET NAME</span></th>
								          <th><span ng-style="{color:'blue'}">TICKET QUANTITY</span></th>
								          <th><span ng-style="{color:'blue'}">TICKET PRICE</span></th>
								          <th><span ng-style="{color:'blue'}">SALES STATUS</span></th>
								          <th>  </th>
								          
								        </tr>
								      </thead>
								      <tbody>
								        <tr>
								          <td> {{ticket.name}}</td>
								          <td> {{ticket.quantity}} {{tktName[$index]}}</td>
								          <td>{{ticket.price}}</td>
								          <td>
									          <select>
												  <option >On Sale</option>
											  </select>
										  </td>
								          <td>
								        	<button class="btn" ng-click="isCollapsed = !isCollapsed"><div tooltip="Sales Start : {{ticket.saleStart}} <br> Sales End : {{ticket.saleEnd}} Minimum Tickets : {{ticket.minQty}} Maximum Tickets : {{ticket.maxQty}}">Setting</div></button>
								        	</td>
								      
								        </tr>
								      
								        
								      </tbody>
								    </table>
								    
								    		 <!-- <div ng-show="ticket.showsettings == true"> -->
						<div collapse="isCollapsed">
				           <div class="control-group">
						<div class="controls" style="text-align: right">
							    	
							      <!-- <button id="hide" type="button" class="close" ng-click="showticketsettings(ticket, false)">X</button> -->
							      
							    </div>
								    <label class="control-label" for="ticketDescription" ng-style="{color:'blue'}">Ticket Description :</label>
								    <div class="controls">
								      {{ticket.description}}
								    </div>
								  </div>
							   <div class="control-group">
							    <label class="control-label" for="ticketStartDate" ng-style="{color:'blue'}">Ticket Sale Start On :</label>
							    <div class="controls">
								 	<div id="datetimepickerStart1" class="input-append date datetimepicker">
				      					{{ticket.saleStart}}
									</div>
							    </div>
							  </div>
							  
							   <div class="control-group">
							    <label class="control-label" for="ticketStartDate" ng-style="{color:'blue'}">Ticket Sale End On :</label>
							    <div class="controls">
								 	<div id="datetimepickerEnd1" class="input-append date datetimepicker">
				      					{{ticket.saleEnd}}
									</div>
							    </div>
							  </div>
							  
							  
							      <div class="control-group">
							    <label class="control-label" for="minQty" ng-style="{color:'blue'}">Min Qty For Order :</label>
							    <div class="controls">
							      {{ticket.minQty}}
							    </div>
							  </div>							  
							      <div class="control-group">
							    <label class="control-label" for="tcktMaxQty" ng-style="{color:'blue'}">Max Qty For Order :</label>
							    <div class="controls">
							      {{ticket.maxQty}}
							    </div>
							  </div>
							 
							  
							 
							  
							</div>
							
							

							  </td>
							   </tr>
    </tbody>
</table>

							</form >
							
			              </div>
			              
			              
			            </div>
			          
			 <!-- Create Event Tab Content End -->           
		          
		          </div>
		          </div>
		
    
   




