		        
		        <div ng-controller="CreateEventController">
		      
		      
		      
			            <h1>Event options</h1>
			            
			 <!--  Create Event Nav Tab  
			 ================================================== -->           
			            <ul id="myTab" class="nav nav-tabs">
				              <li class="active">	<a href="#eventOptionsTab" data-toggle="tab"> Options	</a></li>
			            </ul>
			            
			            <div id="myTabContent" class="tab-content">
			            	
			              <div class="tab-pane fade in active" id="eventOptionsTab">
			         		<form class="form-horizontal" name="eventOptionsForm">
							  
							    <div class="control-group">
							    
								<span ng-show="!event.promotionFile" >
								    <label class="control-label" for="uploadPromotion">Upload Promotion banner :</label>
									    <div class="controls">
			 								<input type="file" name="file" class="fileupload" ng-model="event.promotionFile" 
													 data-url="upload/promotion" fileupload-plugin />
										</div>
								</span>
 								<span ng-show="event.promotionFile">
								    <label class="control-label" for="uploadPromotion">Uploaded Promotion banner :</label>
									    <div class="controls">
			 								<!-- <a href="http://zeoevent.com:8083/source/{{event.bannerFile}}" target="_tab"> view </a> --> 
			 								<button type="button" ng-click="removePromotion()"> remove </button> <img width="60px" ng-src="http://zeoevent.com:8083/source/{{event.promotionFile}}" >
										</div>
								</span>
							    
								    <!-- <label class="control-label" for="file">Upload Promotion banner :</label>
							    <div class="controls">
							      
							       <input type="file" class="fileupload" name="file" ng-model="event.promotionFile"
											data-url="upload/promotion" fileupload-plugin/>
											
							    </div> -->
							  </div>
							  
							  
							   <div class="control-group">
							    <label class="control-label" for="classificationType">Classification Type :</label>
							    <div class="controls">
									  <select id="classificationType" ng-init="event.classificationType = classificationTypes[0].id" ng-model="event.classificationType"
													ng-options="type.id as type.classificationType for type in classificationTypes | limitTo: membership">
										</select>
							    </div>
							  </div>
							 
							  
							  <div class="control-group">
							    <label class="control-label" for="eventFacebookUrl">Event Facebook URL :</label>
							    <div class="controls">
							      <input type="text" id="eventFacebookUrl" ng-model="event.faceBookUrl" >
							    </div>
							  </div>							  
							  							  
							    <div class="control-group">
							    <label class="control-label" for="eventSearch">Event search key words :</label>
							    <div class="controls">
							      <input type="text" id="eventSearch" ng-model="event.keyWords" placeholder="Event Search" >
							    </div>
							    </div>
							  
							  
							  
							    <div class="control-group" >
							    <label class="control-label" for="contactDetails">Event Contract Info :</label>
							    <div class="controls">
							      <textarea id="contactDetails" rows="3" ng-model="event.contactDetails" placeholder="Enter Name(s), Phone or Email:"></textarea>
							    </div>
							  </div>
							  
							  <div class="control-group" >
							    <label class="control-label" for="website">Event Website URL :</label>
							    <div class="controls">
									  <input type="text" id="website" ng-model="event.eventWebSiteUrl" >
							    </div>
							  </div>
							  
							  <div class="control-group">
							    <div class="controls">
							      <button type="submit" class="btn" ng-hide="editMode" ng-click="updateEventOptions()">Update </button>
							    </div>
							  </div>
							</form>
							        
			               </div>
			             
			              
			            </div>
			          
		          
		          </div>
		
    
   


