 <div class="span9 contBox">
          
         
			            <h1>Order Form</h1>
			            
			            <ul id="myTab" class="nav nav-tabs">
				              <li class="active">	<a href="#eventInformation" data-toggle="tab">	Event Information	</a></li>
				              <li>					<a href="#orderInformation" data-toggle="tab">	Order Information	</a></li>
			            </ul>
			            
			              <div id="myTabContent" class="tab-content">
			            	
			              <div class="tab-pane fade in active" id="eventInformation">
			           	 <form class="form-horizontal ">
			
						<button type="button" class="btn" ng-click="updateQuestions()">Save Changes</button><br /><br />
						
						<div class="contBox"> 
							 
							<div class="control-group">
							    <label class="control-label" for="inputEmail">You have 3 options:</label>
							    <div class="controls">
									<label class="radio">
									  <input type="radio" name="optionsRadios" id="optionsRadios1"  ng-model="eventFormSettings.infoType"  value="BASIC" > Collect only basic information (email, name)
									</label>  
									 <label class="radio">
									  <input type="radio" name="optionsRadios" id="optionsRadios2"  ng-model="eventFormSettings.infoType"  value="BUYER">	Collect information below for the ticket buyer only
									 </label> 
									  
									 <label class="radio">
									  <input type="radio" name="optionsRadios" id="optionsRadios3"  ng-model="eventFormSettings.infoType"  value="ATTENDEE">	Collect information below for each attendee
									</label>
							    </div>
							  </div>
					 		
					 		
						</div>
						<br>
						<div class="contBox"> 
							 
							 <div class="span6  orderFrom">
							 	 <h5>Contact</h5>
							 	 <div ng-repeat="question in eventFormSettings.map['Contact'] "> 
							 	 <div class="control-group ">
							    	<label class="control-label" for="category">{{question.name}}</label>
								    <div class="controls">
								        <input type="checkbox" ng-model="question.isValue"> <input type="checkbox" ng-model="question.isRequired">
								    </div>
							 	</div>
								</div>
								<h5>Address Information</h5>
							 	 <div ng-repeat="question in eventFormSettings.map['Address Information'] "> 
							 	 <div class="control-group ">
							    	<label class="control-label" for="category">{{question.name}}</label>
								    <div class="controls">
								        <input type="checkbox" ng-model="question.isValue"> <input type="checkbox" ng-model="question.isRequired">
								    </div>
							 	</div>
								</div>
             				 </div>
             				  <div class="span6  orderFrom">
							 	 <h5>Work</h5>
							 	 <div ng-repeat="question in eventFormSettings.map['Work'] "> 
							 	 <div class="control-group ">
							    	<label class="control-label" for="category">{{question.name}}</label>
								    <div class="controls">
								        <input type="checkbox" ng-model="question.isValue"> <input type="checkbox" ng-model="question.isRequired">
								    </div>
							 	</div>
								</div>
								<h5>Other</h5>
							 	 <div ng-repeat="question in eventFormSettings.map['Other'] "> 
							 	 <div class="control-group ">
							    	<label class="control-label" for="category">{{question.name}}</label>
								    <div class="controls">
								        <input type="checkbox" ng-model="question.isValue"> <input type="checkbox" ng-model="question.isRequired">
								    </div>
							 	</div>
								</div>
             				 </div>
							 
						<div style="clear: both" >Your questions: Not finding what you are looking for on this list? Create your own questions with more options.</div>
						
						<button type="button" class="btn" ng-click="open()">Create a Question</button>
						<form name="questions" class="form-horizontal ">
						    <div modal="shouldBeOpen" close="close()" options="opts">
						        <div class="modal-header">
						            <h4>Question Form</h4>
						        </div>
						        <div class="modal-body">
						            Question :<div class="controls">
							      			<input type="text" id="question" name="question" ng-model="questionForm.question" placeholder="Type a question?" >
							          	</div>
							  		
								    <label class="control-label" for="questionType">Question Type :</label>
								    <div class="controls">
								      	<select id="questionType" ng-model="questionForm.questionType" ng-change="showRelatedFields()"
														ng-options="question.questionTypeName for question in questionType">
										
										<option value="">-- Select QuestionType --</option>
										</select>
								    </div>
								    <div ng-show="text">
								    	<input type="text">
								    </div>
								    <div ng-show="checkboxes">
								    	<input type="text">checkboxes
								    </div>
								    <div ng-show="radiobuttons">
								    	<input type="text">radio buttons
								    </div>
								    <div ng-show="dropdown">
								    	<input type="text">dropdownlist
								    </div>
							  									  		
						        </div>
						        
						        <div class="modal-footer">
						            <button type="button" class="btn" ng-click="saveAndClose()">Save and Close</button>
						            <button type="button" class="btn" ng-click="close()">Cancel</button>
						        </div>
						    </div>
						    </form>
												
						
						</div>	 	 
							 	
						</form>
						</div>
						
    <div class="tab-pane fade" id="orderInformation">
			           	 <form class="form-horizontal ">
			
						<div class="contBox">			  
							<h4>Optional Settings</h4>			  
							<div class="control-group ">
						    	<label class="control-label max-label" for="category">Title for your attendee info page:</label>
							    <div class="controls">
							        <input type="text" id="firstName" ng-model="eventFormSettings.orderSettings.orderTitle">
							    </div>
					 		</div>
					 		
					 		<div class="control-group ">
						    	<label class="control-label max-label" for="category">Instructions for your attendees:   </label>
							    <div class="controls">
							        <textarea id="description" rows="3" ng-model="eventFormSettings.orderSettings.instructions"></textarea>
							    </div>
					 		</div>	
					 		
					 		<div class="control-group ">
						    	<label class="control-label max-label" for="category">Registration time limit:</label>
							    <div class="controls">
							       <input type="text" id="regTimeLimit" ng-model="eventFormSettings.orderSettings.registrationLimit" >
							    </div>
					 		</div>	
					 		
						</div>	 
						<br>
						<button type="button" class="btn" ng-click="updateQuestions()">Save Changes</button><br /><br />		  
							  
								  
							 
							 </form>
							 </div>
							</div>
							  
        </div><!--/span-->
