<link href="resources/bootstrap/css/entertainment.css" rel="stylesheet">

<div ng-include src="'html/eventpageheader.html'"></div>

<div style="display: none">
<div ng-class="'alert alert-'+message().type" ng-show="message().show" >
    <button type="button" class="close" ng-click="message().show=false">x</button>
    <msg>{{message().text}}</msg>
</div>

</div>
	<div class="eventBanners">
		
		<div class="image">
				<img ng-src="{{event.bannerUrl}}" onerror="this.onerror=null;this.src='bootstrap/img/entertainmentBannar.jpg'"/>     
		</div>
		
		<div class="span1 rightPanel ">
			<h3>Event Details</h3>
			<div class="filterControl">
				
				<ul class="eventDetails eventDetailsIcon">
					<li > <i class="iconCalander"></i>	<span>Start Date:</span> {{event.startDate}}</li>
					<li > <i class="iconCalander"></i>	<span>End Date:</span> {{event.endDate}}</li>
					<li > <i class="iconAddress"></i>
						{{ event.venueAddress}}
					</li>
					<li >Set Remainder</li>
					<li class="">Add Calender</li>
				</ul>
			</div>
		</div>
			
	</div>
	



	
<div class="container eventPage " >			
		<div class="span3">
			
			<h4 >Book the Ticket </h4>
			<div >
				<table class="table table-condensed" >
					<thead>
						<tr>
						  <th>Ticket Type</th>
						  <th class="amt">Price</th>
						  <th class="amt">Sale End</th>
						  <th class="amt" style="width: 150px;">Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ticket in event.tickets" >
								  <td class="amt">{{ticket.name}} </td>
								  <td class="amt">{{ticket.price}} </td>
								  <td class="amt">{{ticket.saleEnd}}</td>
								  <td class="amt"> 
								  	<select style="width: 100px;" id="Category" ng-model="ticket.selectedQty" ng-click="calcTotalAmount()" ng-init="ticket.selectedQty='0'" 
															ng-options="qty.value as qty.key for qty in ticket.qtyList" ng-change="atleastOneTktSelected()">
												</select>
								  </td>
						</tr>
					
						<tr class="dubbleLine">
						  <td colspan="3" class="amt"> <b> Total </b> </td>
						  <td class="amt" > {{totalAmount}} </td>
						</tr>
					</tbody>
				</table>
			
			
				<div style="text-align: right">
					<button type="button" class="btn " ng-click="registerTicket()" ng-disabled="enableBookTicket" ng-show="event.tickets.length > 0">Book Ticket</button>
				</div>	
							
		<div >
		<div style="height: 25px"></div>
		<ul id="myTab" class="nav nav-tabs">
			<li class="active">		<a href="#aboutEvent" 	data-toggle="tab">About Event</a></li>     
			<li ng-show="event.eventSettingsDTO.showTermsAndConditions == 'true'"><a href="#termCondition" 	data-toggle="tab" >Term & Condition</a></li>  
		</ul>
	
	
		<div id="myTabContent" class="tab-content">
			
			<div class="tab-pane fade in active" id="aboutEvent">
				
				<form class="form-horizontal"> <div ng-bind-html-unsafe="event.description" ></div></form>
			</div>
			
			
			<div class="tab-pane fade in " id="termCondition">
				<form class="form-horizontal">Term & Condition  </form>
			</div>
				
		</div>				
									
	
		
	</div>
				
				
			</div>
		</div>	
			
			
			
			<div class="span1 rightPanel ">
				<h3>Contact Details <i class="titleArow"></i></h3>
				<div class="filterControl">
					<ul class="eventDetails eventDetailsIcon">
						<li ng-show="event.eventSettingsDTO.showOrganizerName == 'true'"> <i class="iconAddress"></i><span>Organizer Name:</span>	{{event.organizerName}}</li>
						<li ng-show="event.eventSettingsDTO.showContactDetails == 'true'"> <i class="iconAddress"></i><span>Contact:</span>	{{event.contactDetails}} </li>
					</ul>
				</div>
			</div>
	</div>		
<div ng-include src="'html/footer.html'"></div>
