






<div ng-include src="'html/header.html'"></div>

	

<div class="container inPageContainer" >

<div ng-class="'alert alert-'+message().type" ng-show="message().show" >
    <button type="button" class="close" ng-click="message().show=false">x</button>
    <msg>{{message().text}}</msg>
</div>


			<div class="span1 leftPanel ">

			<h3>Filter Your Search <i class="titleArow"></i></h3>
			<div class="filterControl"> 
				
				<ul class="nav nav-list">
					<li class="nav-header">Date</li>
					<li ng-repeat="filterItem in searchResults.eventDateFilterItems">
						<a href="#/findevent?q={{searchResults.query}}&{{filterItem.query}}">{{filterItem.name}}<span>({{filterItem.count}})</span></a>
					</li>

					<li class="nav-header">Price</li>
					<li ng-repeat="filterItem in searchResults.eventTypeFilterItems">
						<a href="#/findevent?q={{searchResults.query}}&{{filterItem.query}}">{{filterItem.name}}<span>({{filterItem.count}})</span></a>
					</li>

					<li class="nav-header">Category</li>
					<li ng-repeat="filterItem in searchResults.subCategoryFilterItems">
						<a href="#/findevent?q={{searchResults.query}}&{{filterItem.query}}">{{filterItem.name}}<span>({{filterItem.count}})</span></a>
					</li>

					<li class="nav-header">Location</li>
					<li ng-repeat="filterItem in searchResults.cityIdFilterItems">
						<a href="#/findevent?q={{searchResults.query}}&{{filterItem.query}}">{{filterItem.name}}<span>({{filterItem.count}})</span></a>
					</li>					
				</ul>
			</div>
				

			</div>
			
			
			
			<div class="span3 ">

				


					
				
					<div class="viewControl">
						
						<div  class="btn-group countrySelect">
				                <button class="btn dropdown-toggle noRadius headerCatBtn" data-toggle="dropdown">{{countryname}}<span class="caret"></span></button>
				                <ul class="dropdown-menu">
				                  <li ng-repeat="country in activeCountries">
									<a ng-click="setcountryname(country)"><!-- <i class="flag flag-IN"> --></i> {{country}} </a>   <span></a>
									</li>
				                </ul>				                
				                
				          </div><!-- /btn-group -->
					    
						<div class="viewButton">
						 View  <a title="Thumbnails View" ng-click="viewList=false;viewThumbs=true"><i class="icon-th-large"></i></a> 
								<a ng-click="viewList=true;viewThumbs=false" title="List View"><i class="icon-th-list"></i></a>
						
						</div>
						
					</div>
					 
				  <div ng-show="viewThumbs">
				<div infinite-scroll="viewThumbsNextPage()" infinite-scroll-disabled='thumbscrollPage' infinite-scroll-distance='0' >
				<ul class="thumbnails">
					<li class="span1" ng-repeat="event in searchRecords">
						<div class="thumbnail">
							<a href="#event/{{event.eventUrl}}"><img ng-src='{{event.promotionLogoUrl}}' onerror="this.onerror=null;" data-src="holder.js/300x200" alt="" ></a>
						</div>	
						<div class="desc">{{event.title}}</div>
							<div class="type" ng-init="getcatvalue(event.subCategoryId)">{{eventType[$index]}}</div>
							<!-- <div class="price" >Price - 14.99 $</div> -->
							<div class="date" >Start Date: {{event.startDate}}</div>
							<div class="date" >End Date  : {{event.endDate}}</div>
							<a href="#event/{{event.eventUrl}}"><button class="btn btnBookTicket " >Book Ticket</button></a>
							
					</li>
			    	</ul>
			    	<div ng-show='thumbscrollPage'>Loading data...</div>
					</div>
			    	<span ng-show="searchRecords.length == 0">No record found.</span>
			    	</div>

				
				<div ng-show="viewList">
				<div infinite-scroll="viewListNextPage()" infinite-scroll-disabled='listscrollPage' infinite-scroll-distance='0'>
				<ul class="media-list">
					<li class="media" ng-repeat="event in searchRecords">
					<!-- <a class="pull-left" href="#"> <img
							class="media-object" data-src="holder.js/64x64" alt="64x64"
							style="width: 64px; height: 64px;"
							src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACDUlEQVR4Xu2Yz6/BQBDHpxoEcfTjVBVx4yjEv+/EQdwa14pTE04OBO+92WSavqoXOuFp+u1JY3d29rvfmQ9r7Xa7L8rxY0EAOAAlgB6Q4x5IaIKgACgACoACoECOFQAGgUFgEBgEBnMMAfwZAgaBQWAQGAQGgcEcK6DG4Pl8ptlsRpfLxcjYarVoOBz+knSz2dB6vU78Lkn7V8S8d8YqAa7XK83ncyoUCjQej2m5XNIPVmkwGFC73TZrypjD4fCQAK+I+ZfBVQLwZlerFXU6Her1eonreJ5HQRAQn2qj0TDukHm1Ws0Ix2O2260RrlQqpYqZtopVAoi1y+UyHY9Hk0O32w3FkI06jkO+74cC8Dh2y36/p8lkQovFgqrVqhFDEzONCCoB5OSk7qMl0Gw2w/Lo9/vmVMUBnGi0zi3Loul0SpVKJXRDmphvF0BOS049+n46nW5sHRVAXMAuiTZObcxnRVA5IN4DJHnXdU3dc+OLP/V63Vhd5haLRVM+0jg1MZ/dPI9XCZDUsbmuxc6SkGxKHCDzGJ2j0cj0A/7Mwti2fUOWR2Km2bxagHgt83sUgfcEkN4RLx0phfjvgEdi/psAaRf+lHmqEviUTWjygAC4EcKNEG6EcCOk6aJZnwsKgAKgACgACmS9k2vyBwVAAVAAFAAFNF0063NBAVAAFAAFQIGsd3JN/qBA3inwDTUHcp+19ttaAAAAAElFTkSuQmCC">
					</a> -->
						<div class="media-body">
							<a href="#event/{{event.eventUrl}}" class="media-heading">{{event.title}}</a>
							<!-- <div class="type" ng-init="getcatvalue(event.subCategoryId)">{{eventType[$index]}}</div> -->
							<div class="type">{{event.categoryName}}</div>
							<div>Address   : {{event.venueName}}</div>
							<div>{{event.address1}},{{event.address2}}</div>
							<div>Start Date: {{event.startDate}}</div>
							<div>End Date  : {{event.endDate}}</div>
						</div>
						<div class="viewControl">
					</li>
						 
				</ul>
				<div ng-show='listscrollPage'>Loading data...</div>
						</div>
				</div>


			</div>

</div>


<div ng-include src="'html/footer.html'"></div>









