





<div class="tabBody">
	<div ng-include src="'html/header.html'"></div>

	


<div  style="margin-top:50px"> 
<h1>Find Event</h1>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2 contBox">

			<ul class="nav ">
					<li>Date</li>
					<li ng-repeat="(key, value) in searchResults.eventDateMap">
						<a href="#" ng-click="fetchResultsByFilterType(key)">{{key}} <span>({{value}})</span></a>
					</li>
					<!-- <li><a href="#">Today <span>(2)</span></a></li>
					<li><a href="#">Tomorrow <span>(2)</span></a></li>
					<li><a href="#">This Week <span>(2)</span></a></li>
					<li><a href="#">This Weekend <span>(2)</span></a></li>
					<li><a href="#">Next Week <span>(11)</span></a></li>
					<li><a href="#">Next Month <span>(41)</span></a></li> -->
				</ul>
				<ul class="nav ">
					<li>Price</li>
					<li ng-repeat="(key, value) in searchResults.eventTypeMap">
						<a href="#" ng-click="fetchResultsByFilterType(key)">{{key}} <span>({{value}})</span></a>
					</li>
				<!-- 	<li><a href="#">Free <span>(71)</span></a></li>
					<li><a href="#">$ <span>(71)</span></a></li>
					<li><a href="#">$$ <span>(71)</span></a></li>
					<li><a href="#">$$$ <span>(71)</span></a></li> -->
				</ul>

				<ul class="nav ">
					<li>Category</li>
					<li ng-repeat="(key, value) in searchResults.subCategoryIdMap">
						<a href="#" ng-click="fetchResultsByFilterType(key)">{{key}} <span>({{value}})</span></a>
					</li>
					<!-- <li><a href="#">Classes <span>(71)</span></a></li>
					<li><a href="#">Conferences <span>(71)</span></a></li>
					<li><a href="#">Other Events <span>(71)</span></a></li>
					<li><a href="#">Business <span>(71)</span></a></li>
					<li><a href="#">Social Events <span>(71)</span></a></li>
					<li><a href="#">Food/Wine <span>(71)</span></a></li>
					<li><a href="#">Festivals <span>(71)</span></a></li>
					<li><a href="#">Networking <span>(71)</span></a></li>
					<li><a href="#">Sporting Events <span>(71)</span></a></li> -->
				</ul>


				<ul class="nav ">
					<li>Location</li>
					<li ng-repeat="(key, value) in searchResults.cityIdMap">
						<a href="#" ng-click="fetchResultsByFilterType(key)">{{key}} <span>({{value}})</span></a>
					</li>
					<!-- <li><a href="#">Bengaluru <span>(71)</span></a></li>
					<li><a href="#">Bangalore City <span>(71)</span></a></li> -->
				</ul>




			</div>
			<div class="span10 contBox">

				<input class="input-xlarge" type="text" placeholder=".input-large "
					value="Search for (e.g. music, networking)" ng-model="searchType"/> 
				<!-- <input class="input-xlarge" type="text" placeholder=".input-large"
					value="Enter a location" ng-model="search.location"/> -->
				<input ui-select2="cityselect2options" ng-model="byCity" ng-change="selectCity(byCity)" required />

				<button type="button" class="btn btn-primary" ng-click="fetchResultsByFilterType(null)">Search</button>

				<h3 class="media-heading">
					Local Events <span> Near Bangalore </span>
				</h3>

				<ul class="media-list">

					<li class="media" ng-repeat="event in searchResults.eventSearchRecords">
					<a class="pull-left" href="#"> <img
							class="media-object" data-src="holder.js/64x64" alt="64x64"
							style="width: 64px; height: 64px;"
							src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACDUlEQVR4Xu2Yz6/BQBDHpxoEcfTjVBVx4yjEv+/EQdwa14pTE04OBO+92WSavqoXOuFp+u1JY3d29rvfmQ9r7Xa7L8rxY0EAOAAlgB6Q4x5IaIKgACgACoACoECOFQAGgUFgEBgEBnMMAfwZAgaBQWAQGAQGgcEcK6DG4Pl8ptlsRpfLxcjYarVoOBz+knSz2dB6vU78Lkn7V8S8d8YqAa7XK83ncyoUCjQej2m5XNIPVmkwGFC73TZrypjD4fCQAK+I+ZfBVQLwZlerFXU6Her1eonreJ5HQRAQn2qj0TDukHm1Ws0Ix2O2260RrlQqpYqZtopVAoi1y+UyHY9Hk0O32w3FkI06jkO+74cC8Dh2y36/p8lkQovFgqrVqhFDEzONCCoB5OSk7qMl0Gw2w/Lo9/vmVMUBnGi0zi3Loul0SpVKJXRDmphvF0BOS049+n46nW5sHRVAXMAuiTZObcxnRVA5IN4DJHnXdU3dc+OLP/V63Vhd5haLRVM+0jg1MZ/dPI9XCZDUsbmuxc6SkGxKHCDzGJ2j0cj0A/7Mwti2fUOWR2Km2bxagHgt83sUgfcEkN4RLx0phfjvgEdi/psAaRf+lHmqEviUTWjygAC4EcKNEG6EcCOk6aJZnwsKgAKgACgACmS9k2vyBwVAAVAAFAAFNF0063NBAVAAFAAFQIGsd3JN/qBA3inwDTUHcp+19ttaAAAAAElFTkSuQmCC">
					</a>
						<div class="media-body">
							<a href="" class="media-heading">{{event.title}}</a>
							<div>{{event.venueName}}</div>
							<div>{{event.address1}},{{event.address2}}</div>
							<div>{{event.startDate}}</div>
							<div>{{event.endDate}}</div>
						</div></li>
				</ul>


			</div>
		</div>
	</div>

</div>

</div>












