






<div ng-include src="'html/header.html'"></div>

	

<div class="container inPageContainer" >

<!-- <div ng-class="'alert alert-'+message().type" ng-show="message().show" >
    <button type="button" class="close" ng-click="message().show=false">x</button>
    <msg>{{message().text}}</msg>
</div> -->


			<div class="span1 leftPanel ">

			<h3>Filter Your Search <i class="titleArow"></i></h3>
			<div class="filterControl"> 
				
				<ul ng-show="othercountries" class="nav nav-list">
					<li class="nav-header">Date</li>
					<li ng-repeat="filterItem in searchResults.eventDateFilterItems" class="active">
						<a href="#/findevent?q={{searchResults.query}}&{{filterItem.query}}">{{filterItem.name}}<span>({{filterItem.count}})</span></a>
					</li>

					<li class="nav-header">Price</li>
					<li ng-repeat="filterItem in searchResults.eventTypeFilterItems">
						<a href="#/findevent?q={{searchResults.query}}&{{filterItem.query}}">{{filterItem.name}}<span>({{filterItem.count}})</span></a>
					</li>

					<li class="nav-header">Category</li>
					<li ng-repeat="filterItem in searchResults.subCategoryFilterItems">
						<a href="#/findevent?q={{searchResults.query}}&{{filterItem.query}}">{{filterItem.name}}<span>({{filterItem.count}})</span></a>
					</li>

					<li class="nav-header">Location</li>
					<li ng-repeat="filterItem in searchResults.cityIdFilterItems">
						<a href="#/findevent?q={{searchResults.query}}&{{filterItem.query}}">{{filterItem.name}}<span>({{filterItem.count}})</span></a>
					</li>	
					
					<li class="nav-header">
						<a href="#/findevent?q={{searchResults.query}}&{{searchResults.otherCountries.query}}&other=true">other countries</a>
					</li>
<!-- 					<li ng-repeat="filterItem in searchResults.otherCountries">
						<a href="#/findevent?q={{searchResults.query}}&{{filterItem.query}}">{{filterItem.name}}<span>({{filterItem.count}})</span></a>
					</li>				
 -->			</ul>
 				<ul ng-show="!othercountries" class="nav nav-list">
 					<li class="nav-header">Other countries</li>
					<li ng-repeat="filterItem in searchResults.countryFilterItems">
						<a href="#/findevent?q={{searchResults.query}}&{{filterItem.query}}">{{filterItem.name}}<span>({{filterItem.count}})</span></a>
					</li>
 				</ul>
			</div>
				

			</div>
			
			
			
			<div class="span3 ">

				


					
				
					<div class="viewControl">
						
						<div  class="btn-group countrySelect">
				                <button class="btn dropdown-toggle noRadius headerCatBtn" data-toggle="dropdown">{{countryname}}<span class="caret"></span></button>
				                
				                <ul class="dropdown-menu" style="height: 250px; overflow-y: scroll;">
				                 <!--  <li ng-repeat="country in activeCountries">
									<a ng-click="setcountryname(country)"><i class="flag flag-IN"></i> {{country}} </a>   <span></a>
									</li> -->
									<li ng-repeat='(key, value) in activeCountries'>
        								<a ng-click="setcountryname(key,value)">{{value}}</a>
    								</li>
				                </ul>				                
				                
				          </div><!-- /btn-group -->
					    
					    <div class="resultCont">

					    		Showing {{searchResults.noOfresults}} events

					    	
					    </div>	
						<div class="viewButton">
						 View  <a title="Thumbnails View" ng-click="viewList=false;viewThumbs=true"><i class="icon-th-large"></i></a> 
								<a ng-click="viewList=true;viewThumbs=false" title="List View"><i class="icon-th-list"></i></a>
						
						</div>
						
					</div>
					 
				  <div ng-show="viewThumbs">
				  	
					<div infinite-scroll="viewThumbsNextPage()" infinite-scroll-disabled='thumbscrollPage' infinite-scroll-distance='0' >
					<ul class="thumbnails">
						<li class="span1a" ng-repeat="event in searchRecords">
								<div class="thumbnail">
									<a href="#event/{{event.eventUrl}}"><img ng-src="{{event.promotionLogoUrl}}" ></a>
								</div>	
								<div class="desc">{{event.title}}</div>
								<div class="type">{{event.categoryName}}</div>
								<div class="date" >Start Date: {{event.startDate}}</div>
								<div class="date" >End Date  : {{event.endDate}}</div>
								<a href="#event/{{event.eventUrl}}"><button class="btn btnBookTicket " >Book Ticket</button></a>
								
						</li>
				    	</ul>
				    	<div ng-show='thumbscrollPage && searchResults.noOfresults>0'><img ng-src="images/loader.gif" ></div>
						</div>
				    	<span ng-show="searchRecords.length == 0 && searchResults.noOfresults==0">No record found.</span>
				    	<span ng-show="searchRecords.length == 0 && searchResults.noOfresults!=0"><img ng-src="images/loader.gif" ></span>
				    	
			    	</div>

				
				<div ng-show="viewList">
				<div infinite-scroll="viewListNextPage()" infinite-scroll-disabled='listscrollPage' infinite-scroll-distance='0'>
				<ul class="media-list">
					<li class="media thumbList" ng-repeat="event in searchRecords">
					<a class="pull-left" href="#event/{{event.eventUrl}}"> <img width="85px" ng-src="{{event.promotionLogoUrl}}" >
					</a> 
						<div class="media-body ">
							<a class="type" href="#event/{{event.eventUrl}}" class="media-heading">{{event.title}}</a>
							<div class="desc">Address   : {{event.venueName}}</div>
							<div class="desc">{{event.address1}},{{event.address2}}</div>
							<div class="date">Start Date: {{event.startDate}}</div>
							<div class="date">End Date  : {{event.endDate}}</div>
					</li>
						 
				</ul>
				<div ng-show='listscrollPage && searchResults.noOfresults>0' ><img ng-src="images/loader.gif" ></div>
						</div>
				</div>


			</div>

</div>


<div ng-include src="'html/footer.html'"></div>









