


	<div ng-include src="'html/header.html'"></div>
	<div class="container inPageContainer" > 
	<div ng-class="'alert alert-'+message().type" ng-show="message().show" >
	    <button type="button" class="close" ng-click="message().show=false">x</button>
	    <msg>{{message().text}}</msg>
	</div>
	<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
			<div class="span1 leftPanel ">
					<h3 class="nav-header">Manage Event <i class="titleArow"></i></h3>
					<ul class="nav nav-list" style="padding-top: 15px">
						<li ng-class="{active: templateSelect=='edit'}">
						<a  href ng-click="template = 'html/event/editevent.html';templateSelect= 'edit'">Details</a>
						</li>
						<li ng-class="{active: templateSelect=='options'}">
						<a  href ng-click="template = 'html/event/eventoptions.html';templateSelect= 'options'">Options</a>
						</li>
						<li ng-class="{active: templateSelect=='orderForm'}">
						<a  href ng-click="template = 'html/event/eventsettings.html';templateSelect= 'orderForm';fetchEventSettings()">Order Form</a>
						</li>
						<li ng-class="{active: templateSelect=='ticketHistory'}">
						<a  href ng-click="template = 'html/event/tickethistory.html';templateSelect= 'ticketHistory';fetchTicketsHistory(event.id)">Tickets History</a>
						</li>						
					</ul>
				<!--/.well -->
			</div>
			<!--/span-->
			<span class="span3">
			<div ng-include src="template"></div>
			</span>

</div>
<div ng-include src="'html/footer.html'"></div>





