
<<style>



</style>

	<div ng-include src="'html/header.html'"></div>
	<div class="container inPageContainer" > 
	<!-- <div ng-class="'alert alert-'+message().type" ng-show="message().show" >
	    <button type="button" class="close" ng-click="message().show=false">x</button>
	    <msg>{{message().text}}</msg>
	</div> -->
	<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
			
			<h1 style="margin: 0px">Manage Event </h1>
			
			<div class="span1 filterControl leftPanel " style="padding-top: 0px; margin-top: 0px">
					<ul class="nav nav-list" >
						<li ng-class="{active: templateSelect=='edit'}">
						<a  href ng-click="template = 'html/event/editevent.html';templateSelect= 'edit'">Details</a>
						</li>
						<li ng-class="{active: templateSelect=='options'}">
						<a  href ng-click="template = 'html/event/eventoptions.html';templateSelect= 'options'">Options</a>
						</li>
						<li ng-class="{active: templateSelect=='orderForm'}">
						<a  href ng-click="template = 'html/event/eventsettings.html';templateSelect= 'orderForm';fetchEventSettings()">Order Form</a>
						</li>
						<li ng-class="{active: templateSelect=='ticketHistory'}">
						<a  href ng-click="template = 'html/event/tickethistory.html';templateSelect= 'ticketHistory';fetchTicketsHistory(event.id)">Tickets History</a>
						</li>						
					</ul>
				<!--/.well -->
			</div>
			<!--/span-->
			
			<span class="span3">			
			<br/>
            <div>Event Url: <a href="{{eventpageurl}}" target="_blank">{{eventpageurl}}</a></div>
			<div ng-include src="template"></div>
			</span>

</div>
<div ng-include src="'html/footer.html'"></div>





