
          
 <div ng-include src="'html/header.html'"></div>          
      <div class="container inPageContainer" > 
      
      <div ng-class="'alert alert-'+message().type" ng-show="message().show" >
		    <button type="button" class="close" ng-click="message().show=false">x</button>
		    <msg>{{message().text}}</msg>
		</div>
      
      
      
      
            <h1>My Events</h1>
            			<ul id="myTab" class="nav nav-tabs">
				              <li class="active">	<a href="#liveEvents" data-toggle="tab" ng-click="fetchLiveEventsList()">Live Events	</a></li>
				              <li>					<a href="#draftEvents" data-toggle="tab" ng-click="fetchDraftEventsList()">Draft Events	</a></li>
				              <li>					<a href="#pastEvents" data-toggle="tab" ng-click="fetchPastEventsList()">Past Events	</a></li>
				        </ul>
          
         <div id="myTabContent" class="tab-content">
         
         <div class="tab-pane fade in active" id="liveEvents">
         		 	<form class="form-horizontal" class="row-fluid">
         		 	 <div class="floatLeft" >  Show: <select ng-model="showlive" ng-init="showlive=10" ng-options="limit.id as limit.value for limit in shows"> </select></div>
         		 	 <div class="floatRight" >Search Text: <input type="text" id="searchTextLive" ng-model="searchTextLive"></div>
         		 	 <br>
         		    </form>  
         		 <div > 		 
				    <table class="table table-condensed" id="myliveevents">
				      <thead>
				        <tr>
				        	
	  	 		
				          <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">EVENTNAME</a></th>
				          <th><a href="" ng-click="predicate = 'createdDate'; reverse=!reverse">DATE</a></th>
				          <th><a href="" ng-click="predicate = 'startDate'; reverse=!reverse">START DATE</a></th>
				          <th><a href="" ng-click="predicate = 'endDate'; reverse=!reverse">END DATE</a></th>
				          <th><a href="" ng-click="predicate = 'status'; reverse=!reverse">STATUS</a></th>
				          <th><a href="" ng-click="predicate = 'sold'; reverse=!reverse">SOLD</a></th>
				          <th>QUICK LINKS</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr ng-repeat="myevent in liveEvents| filter:searchTextLive | limitTo:showlive |orderBy:predicate:reverse  ">
				          <td>{{myevent.title}}</td>
				          <td>{{myevent.createdDate}}</td>
				          <td>{{myevent.startDate}}</td>
				           <td>{{myevent.endDate}}</td>
				           <td>{{myevent.status}}</td>
				          <td>{{myevent.sold}}</td>
				          <td><a href="#/myevent/{{myevent.id}}">Manage</a> | <a href="#event/{{myevent.eventUrl}}">Preview</a></td>
				        </tr>
				        
				      </tbody>
				    </table>
				</div>
			</div>
              
			<div class="tab-pane fade " id="draftEvents">
				<form class="form-horizontal" class="row-fluid">
         		 	 <div class="floatLeft" align="left"> Show: <select ng-model="showdraft" ng-init="showdraft=10" ng-options="limit.id as limit.value for limit in shows"> </select></div>
         		 	 <div class="floatRight" align="right">Search Text: <input type="text" id="searchTextDraft" ng-model="searchTextDraft"></div>
         		 	 <br>
         		    </form> 
         		 <div>
				    <table class="table table-condensed" id="mydraft events">
				      <thead>
				        <tr>
				        	
	  	 		 		  <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">EVENTNAME</a></th>
				          <th><a href="" ng-click="predicate = 'createdDate'; reverse=!reverse">DATE</a></th>
				          <th><a href="" ng-click="predicate = 'startDate'; reverse=!reverse">START DATE</a></th>
				          <th><a href="" ng-click="predicate = 'endDate'; reverse=!reverse">END DATE</a></th>
				          <th><a href="" ng-click="predicate = 'status'; reverse=!reverse">STATUS</a></th>
				          <th><a href="" ng-click="predicate = 'sold'; reverse=!reverse">SOLD</a></th>
				          <th>QUICK LINKS</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr ng-repeat="myevent in draftEvents | filter:searchTextDraft | limitTo:showdraft |orderBy:predicate:reverse" >
				          <td>{{myevent.title}}</td>
				          <td>{{myevent.createdDate}}</td>
				          <td>{{myevent.startDate}}</td>
				           <td>{{myevent.endDate}}</td>
				           <td>{{myevent.status}}</td>
				          <td>{{myevent.sold}}</td>
				          <td><a href="#/myevent/{{myevent.id}}">Manage</a> | <a href="#event/{{myevent.eventUrl}}">Preview</a> | <a  ng-click="publishEvent(myevent.id)">Publish</a></td>
				        </tr>
				        
				      </tbody>
				    </table>
				</div>
			</div>
			<div class="tab-pane fade" id="pastEvents">
				<form class="form-horizontal" class="row-fluid">
         		 	 <div class="floatLeft" align="left"> Show: <select ng-model="showpast" ng-init="showpast=10" ng-options="limit.id as limit.value for limit in shows"> </select></div>
         		 	 <div class="floatRight" align="right">Search Text: <input type="text" id="searchTextPast" ng-model="searchTextPast"></div>
         		 	 <br>
         		    </form> 
         		 <div>
				    <table class="table table-condensed" id="mypastevents">
				      <thead>
				        <tr>
				        	
	  	 		  		  <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">EVENTNAME</a></th>
				          <th><a href="" ng-click="predicate = 'createdDate'; reverse=!reverse">DATE</a></th>
				          <th><a href="" ng-click="predicate = 'startDate'; reverse=!reverse">START DATE</a></th>
				          <th><a href="" ng-click="predicate = 'endDate'; reverse=!reverse">END DATE</a></th>
				          <th><a href="" ng-click="predicate = 'status'; reverse=!reverse">STATUS</a></th>
				          <th><a href="" ng-click="predicate = 'sold'; reverse=!reverse">SOLD</a></th>
				          <th>QUICK LINKS</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr ng-repeat="myevent in pastEvents | filter:searchTextPast | limitTo:showpast |orderBy:predicate:reverse" >
				          <td>{{myevent.title}}</td>
				          <td>{{myevent.createdDate}}</td>
				          <td>{{myevent.startDate}}</td>
				           <td>{{myevent.endDate}}</td>
				           <td>{{myevent.status}}</td>
				          <td>{{myevent.sold}}</td>
				          <td><a href="#/myevent/{{myevent.id}}">Manage</a> | <a href="#event/{{myevent.eventUrl}}">Preview</a></td>
				        </tr>
				        
				      </tbody>
				    </table>
				</div>
			</div>
			
	</div>		
          </div>







       


