        	
        	
        	
          <div class="tabBody">
          
 <div ng-include src="'html/header.html'"></div>          
      <div  style="margin-top:50px"> 
            <h1>My Events</h1>
            			<ul id="myTab" class="nav nav-tabs">
				              <li class="active">	<a href="#liveEvents" data-toggle="tab" ng-click="fetchLiveEventsList()">Live Events	</a></li>
				              <li>					<a href="#draftEvents" data-toggle="tab" ng-click="fetchDraftEventsList()">Draft Events	</a></li>
				              <li>					<a href="#pastEvents" data-toggle="tab" ng-click="fetchPastEventsList()">Past Events	</a></li>
				        </ul>
          
         <div id="myTabContent" class="tab-content">
         
         <div class="tab-pane fade in active" id="liveEvents">
         		 <div >
         		 Show:
    					  <span  class="nullable">
      					
       					  <select ng-model="show" ng-init="show=10" ng-options="limit.id as limit.value for limit in shows">
       					 </select>
     				 </span><br/>
         		 Search: <input ng-model="searchText">
         		 <br/>
				    <table class="table table-condensed" id="myliveevents">
				      <thead>
				        <tr>
				        	
	  	 		
				          <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">EVENTNAME</a></th>
				          <th><a href="" ng-click="predicate = 'createdDate'; reverse=!reverse">DATE</a></th>
				          <th><a href="" ng-click="predicate = 'startDate'; reverse=!reverse">START DATE</a></th>
				          <th><a href="" ng-click="predicate = 'endDate'; reverse=!reverse">END DATE</a></th>
				          <th><a href="" ng-click="predicate = 'status'; reverse=!reverse">STATUS</a></th>
				          <th><a href="" ng-click="predicate = 'sold'; reverse=!reverse">SOLD</a></th>
				          <th>QUICK LINKS</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr ng-repeat="myevent in liveEvents| filter:searchText| limitTo:show |orderBy:predicate:reverse  ">
				          <td>{{myevent.title}}</td>
				          <td>{{myevent.createdDate}}</td>
				          <td>{{myevent.startDate}}</td>
				           <td>{{myevent.endDate}}</td>
				           <td>{{myevent.status}}</td>
				          <td>{{myevent.sold}}</td>
				          <td><a href="#/myevent/{{myevent.id}}">Manage</a> | <a href="#event/{{myevent.eventUrl}}">Preview</a></td>
				        </tr>
				        
				      </tbody>
				    </table>
				</div>
			</div>
              
			<div class="tab-pane fade " id="draftEvents">
         		 <div>
				    <table class="table table-condensed" id="mydraft events">
				      <thead>
				        <tr>
				        	
	  	 		
				          <th>EVENT NAME</th>
				          <th>DATE</th>
				          <th>START DATE</th>
				          <th>END DATE</th>
				          <th>STATUS</th>
				          <th>SOLD</th>
				          <th>QUICK LINKS</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr ng-repeat="myevent in draftEvents" >
				          <td>{{myevent.title}}</td>
				          <td>{{myevent.createdDate}}</td>
				          <td>{{myevent.startDate}}</td>
				           <td>{{myevent.endDate}}</td>
				           <td>{{myevent.status}}</td>
				          <td>{{myevent.sold}}</td>
				          <td><a href="#/myevent/{{myevent.id}}">Manage</a> | <a href="#event/{{myevent.eventUrl}}">Preview</a> | <a  ng-click="publishEvent(myevent.id)">Publish</a></td>
				        </tr>
				        
				      </tbody>
				    </table>
				</div>
			</div>
			<div class="tab-pane fade" id="pastEvents">
         		 <div >
				    <table class="table table-condensed" id="mypastevents">
				      <thead>
				        <tr>
				        	
	  	 		
				          <th>EVENT NAME</th>
				          <th>DATE</th>
				          <th>START DATE</th>
				          <th>END DATE</th>
				          <th>STATUS</th>
				          <th>SOLD</th>
				          <th>QUICK LINKS</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr ng-repeat="myevent in pastEvents" >
				          <td>{{myevent.title}}</td>
				          <td>{{myevent.createdDate}}</td>
				          <td>{{myevent.startDate}}</td>
				           <td>{{myevent.endDate}}</td>
				           <td>{{myevent.status}}</td>
				          <td>{{myevent.sold}}</td>
				          <td><a href="#/myevent/{{myevent.id}}">Manage</a> | <a href="#event/{{myevent.eventUrl}}">Preview</a></td>
				        </tr>
				        
				      </tbody>
				    </table>
				</div>
			</div>
			
	</div>		
          </div>







       


