        	
  <div class="span9 contBox"> 
 <div ng-include src="'html/header.html'"></div>
			<table class="table table-condensed">
				      <thead>
				        <tr>
						  <th>GROSS AMT</th>
				          <th>TICKET PRICE</th>
				          <th>NET AMT</th>
				          <th>QUANTITY</th>
				          <th>QUICK LINKS</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr ng-repeat="order in subOrdersList" >
				          <td>{{order.grossAmount}}</td>
				          <td>{{order.ticketPrice}}</td>
				          <td>{{order.netAmount}}</td>
				          <td>{{order.ticket.quantity}}</td>
				           <td><button type="submit" ng-click="fetchAttendees(order.ticket.id)">View Attendees</button> | <a ng-click="fetchBuyers(order.ticket.id)">View Buyers</a></td>
				        </tr>
				        
				      </tbody>
			</table>		 
</div>
